In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from tqdm import tqdm
import pandas as pd
import numpy as np
from pathlib import Path

In [3]:
dfCC = pd.read_pickle("EIPH_ClusterFilter_Annotations.pkl")
df = pd.read_pickle("EIPH_Annotations.pkl")

In [4]:
df["width"] = [vector["x2"] - vector["x1"] for vector in df['vector']]
df["height"] = [vector["y2"] - vector["y1"] for vector in df['vector']]
df["scales"] = df["width"] / df["height"]

In [5]:
df.head()

,id,image_id,image_set,species,image_name,image_type,grade,vector,unique_identifier,user_id,deleted,last_editor,data_set_name,version,width,height,scales
0,1433998,3530,246,equine,07_EIPH_574882 Berliner Blau-001.svs,BerlinerBlau,0,"{'x1': 22691, 'x2': 22782, 'y1': 9025, 'y2': 9...",927cade0-4579-48e1-a884-a07d88594a0a,1,True,1,SDATA,Cluster,91.0,91.0,1.000000
1,1433999,3530,246,equine,07_EIPH_574882 Berliner Blau-001.svs,BerlinerBlau,0,"{'x1': 32197, 'x2': 32338, 'y1': 15975, 'y2': ...",cafc4aa3-324f-4015-9451-ad7e5bee53f3,1,False,1,SDATA,Inference,141.0,141.0,1.000000
2,1434000,3530,246,equine,07_EIPH_574882 Berliner Blau-001.svs,BerlinerBlau,0,"{'x1': 23069, 'x2': 23180, 'y1': 11514, 'y2': ...",979ef20e-6228-4cb3-ac9a-aecea6ad75c1,1,False,1,SDATA,Inference,111.0,111.0,1.000000
3,1434001,3530,246,equine,07_EIPH_574882 Berliner Blau-001.svs,BerlinerBlau,0,"{'x1': 9045, 'x2': 9148, 'y1': 9711, 'y2': 9814}",ef87d780-5e2e-413e-a2ff-0712f6aa1532,1,False,1,SDATA,Inference,103.0,103.0,1.000000
4,1434002,3530,246,equine,07_EIPH_574882 Berliner Blau-001.svs,BerlinerBlau,0,"{'x1': 10538, 'x2': 10645, 'y1': 10306, 'y2': ...",0f141dc4-5589-4e5a-a504-d77e7ad94683,1,False,1,SDATA,Inference,107.0,106.0,1.009434

In [6]:
image_data = []

for image_id, image_name in zip(df["image_id"].unique(), df["image_name"].unique()):
    
    species = df[df["image_id"] == image_id]["species"].unique()[0]
    image_type = df[df["image_id"] == image_id]["image_type"].unique()[0]
    image_set = df[df["image_id"] == image_id]["image_set"].unique()[0]
    
    image_data.append([image_id, image_name, species, image_type, image_set])
    
image_data = pd.DataFrame(image_data, columns=["image_id", "image_name", "species", "image_type", "image_set"])
image_data

,image_id,image_name,species,image_type,image_set
0,3530,07_EIPH_574882 Berliner Blau-001.svs,equine,BerlinerBlau,246
1,3536,08_EIPH_574999 Berliner Blau.svs,equine,BerlinerBlau,246
2,3539,09_EIPH_563417 L berliner blau.svs,equine,BerlinerBlau,246
3,3543,10_EIPH_563417 R Berliner Blau.svs,equine,BerlinerBlau,246
4,3545,13_EIPH_570370 Berliner Blau.svs,equine,BerlinerBlau,246
...,...,...,...,...,...
86,3569,25_EIPH_568150 Turnbull blue.svs,equine,TurnbullBlue,247
87,3570,26_EIPH_566482 L Turnbull blue.svs,equine,TurnbullBlue,247
88,3572,27_EIPH_571557 Turnbull blue.svs,equine,TurnbullBlue,247
89,3574,30_EIPH_568355 Turnbull blue.svs,equine,TurnbullBlue,247
90,3575,31_EIPH_568354 Turnbull blue.svs,equine,TurnbullBlue,247

### SREP

In [9]:
srep = df[df["data_set_name"]=="SREP"]
data = []

for file in srep["image_name"].unique():
    
    fileDF = srep[srep["image_name"] == file]
    
    last_total = 0
    last_score = 0
    for version in ["SREP", "SREP_V2"]:
        
        if version != "SREP":
            versionDF = fileDF[fileDF["version"] == version]
        else:
            versionDF = fileDF
            
        for image_type in fileDF["image_type"].unique():
            
            image_typeDF = versionDF[versionDF["image_type"] == image_type]
            
            total = image_typeDF.shape[0]
            score = int(image_typeDF["grade"].mean() * 100)
            _0 = image_typeDF[image_typeDF["grade"] == 0].shape[0]
            _1 = image_typeDF[image_typeDF["grade"] == 1].shape[0]
            _2 = image_typeDF[image_typeDF["grade"] == 2].shape[0]
            _3 = image_typeDF[image_typeDF["grade"] == 3].shape[0]
            _4 = image_typeDF[image_typeDF["grade"] == 4].shape[0]
            mean = image_typeDF["grade"].mean()
            std = image_typeDF["grade"].std()
            
            file = file.split("_")[0]
            if version == "SREP":
                version = version
                
                last_total = total
                last_score = score
            else:
                image_type = ""
                version = "V2"
                
                total = "{} ({:+.2f} %)".format(total, (total / last_total * 100) - 100)
                score = "{} ({:+.2f} %)".format(score, (score / last_score * 100) - 100)
                

            data.append([file, image_type, version, total, score, _0, _1, _2, _3, _4, mean, std])
            
srep = pd.DataFrame(data, columns=['file', 'image_type', 'version', 'total' ,'score', '0', '1', '2', '3', '4', 'mean', 'SD'])
srep = srep.sort_values(by=['file', 'version'])

In [10]:
# Replace  % -> \% 

srep.to_csv(header=False, index=False, float_format='%.2f').replace(",","  &  ").replace("_","\_").replace("\r\n","\\ |").split(" |")

['01  &  BerlinerBlau  &  SREP  &  4448  &  126  &  1013  &  1782  &  1220  &  348  &  85  &  1.26  &  0.96\\',
 '01  &    &  V2  &  3724 (-16.28 %)  &  134 (+6.35 %)  &  716  &  1481  &  1112  &  339  &  76  &  1.35  &  0.96\\',
 '02  &  BerlinerBlau  &  SREP  &  12821  &  72  &  5084  &  6208  &  1453  &  65  &  11  &  0.73  &  0.68\\',
 '02  &    &  V2  &  8954 (-30.16 %)  &  81 (+12.50 %)  &  3101  &  4527  &  1257  &  58  &  11  &  0.81  &  0.70\\',
 '03  &  BerlinerBlau  &  SREP  &  6327  &  37  &  4295  &  1699  &  330  &  3  &  0  &  0.37  &  0.58\\',
 '03  &    &  V2  &  5394 (-14.75 %)  &  43 (+16.22 %)  &  3403  &  1664  &  324  &  3  &  0  &  0.43  &  0.61\\',
 '04  &  BerlinerBlau  &  SREP  &  5450  &  62  &  2552  &  2379  &  509  &  10  &  0  &  0.63  &  0.66\\',
 '04  &    &  V2  &  3439 (-36.90 %)  &  80 (+29.03 %)  &  1150  &  1822  &  458  &  9  &  0  &  0.80  &  0.66\\',
 '05  &  BerlinerBlau  &  SREP  &  2491  &  33  &  1756  &  634  &  99  &  2  &  0  &  0.34  &  0.55\\',
 '05  &    &  V2  &  1984 (-20.35 %)  &  39 (+18.18 %)  &  1298  &  587  &  97  &  2  &  0  &  0.40  &  0.59\\',
 '07  &  TurnbullBlue  &  SREP  &  2991  &  41  &  1907  &  933  &  148  &  3  &  0  &  0.41  &  0.59\\',
 '07  &    &  V2  &  2573 (-13.98 %)  &  45 (+9.76 %)  &  1549  &  883  &  139  &  2  &  0  &  0.45  &  0.60\\',
 '08  &  TurnbullBlue  &  SREP  &  1077  &  234  &  48  &  127  &  354  &  497  &  51  &  2.35  &  0.91\\',
 '08  &    &  V2  &  362 (-66.39 %)  &  184 (-21.37 %)  &  19  &  88  &  186  &  69  &  0  &  1.84  &  0.79\\',
 '09  &  TurnbullBlue  &  SREP  &  923  &  66  &  471  &  290  &  159  &  3  &  0  &  0.67  &  0.77\\',
 '09  &    &  V2  &  716 (-22.43 %)  &  85 (+28.79 %)  &  269  &  286  &  158  &  3  &  0  &  0.85  &  0.77\\',
 '11  &  BerlinerBlau  &  SREP  &  1843  &  147  &  283  &  555  &  859  &  131  &  15  &  1.48  &  0.86\\',
 '11  &    &  V2  &  1426 (-22.63 %)  &  165 (+12.24 %)  &  100  &  445  &  743  &  126  &  12  &  1.65  &  0.77\\',
 '14  &  TurnbullBlue  &  SREP  &  4752  &  216  &  568  &  1053  &  932  &  1446  &  753  &  2.16  &  1.27\\',
 '14  &    &  V2  &  3760 (-20.88 %)  &  231 (+6.94 %)  &  358  &  762  &  657  &  1291  &  692  &  2.32  &  1.25\\',
 '20  &  BerlinerBlau  &  SREP  &  6492  &  87  &  2611  &  2510  &  984  &  363  &  24  &  0.87  &  0.89\\',
 '20  &    &  V2  &  4609 (-29.00 %)  &  100 (+14.94 %)  &  1535  &  1902  &  818  &  337  &  17  &  1.00  &  0.91\\',
 '22  &  TurnbullBlue  &  SREP  &  7098  &  132  &  1639  &  2567  &  1819  &  1067  &  6  &  1.33  &  0.99\\',
 '22  &    &  V2  &  5611 (-20.95 %)  &  136 (+3.03 %)  &  1119  &  2166  &  1496  &  828  &  2  &  1.36  &  0.96\\',
 '26  &  BerlinerBlau  &  SREP  &  10385  &  208  &  592  &  2131  &  4037  &  3098  &  527  &  2.08  &  0.96\\',
 '26  &    &  V2  &  9192 (-11.49 %)  &  215 (+3.37 %)  &  323  &  1813  &  3666  &  2930  &  460  &  2.15  &  0.91\\',
 '27  &  BerlinerBlau  &  SREP  &  5751  &  59  &  2839  &  2452  &  435  &  25  &  0  &  0.59  &  0.65\\',
 '27  &    &  V2  &  4684 (-18.55 %)  &  61 (+3.39 %)  &  2213  &  2070  &  377  &  24  &  0  &  0.62  &  0.65\\',
 '28  &  TurnbullBlue  &  SREP  &  1122  &  34  &  776  &  303  &  43  &  0  &  0  &  0.35  &  0.55\\',
 '28  &    &  V2  &  1090 (-2.85 %)  &  35 (+2.94 %)  &  747  &  302  &  41  &  0  &  0  &  0.35  &  0.55\\',
 '29  &  TurnbullBlue  &  SREP  &  968  &  43  &  637  &  252  &  70  &  8  &  1  &  0.43  &  0.67\\',
 '29  &    &  V2  &  926 (-4.34 %)  &  44 (+2.33 %)  &  598  &  251  &  69  &  7  &  1  &  0.45  &  0.67\\',
 '31  &  BerlinerBlau  &  SREP  &  3142  &  39  &  1994  &  1062  &  81  &  5  &  0  &  0.39  &  0.55\\',
 '31  &    &  V2  &  1872 (-40.42 %)  &  35 (-10.26 %)  &  1254  &  584  &  30  &  4  &  0  &  0.35  &  0.52\\',
 '']

### Equine

In [11]:
def get_stat_from_df(frame):
    
    result = {}
    
    result["total"] = frame.shape[0]
    result["score"] = int(frame["grade"].mean() * 100)
    
    result["0"] = frame[frame["grade"] == 0].shape[0]
    result["1"] = frame[frame["grade"] == 1].shape[0]
    result["2"] = frame[frame["grade"] == 2].shape[0]
    result["3"] = frame[frame["grade"] == 3].shape[0]
    result["4"] = frame[frame["grade"] == 4].shape[0]
    result["mean"] = frame["grade"].mean()
    result["std"] = frame["grade"].std()
    
    return result

In [12]:
equine = df[(df["species"]=="equine") & (df["data_set_name"]!="SREP")]
data = []
data_short = []

id = 0
for file in equine["image_name"].unique():
    
    fileDF = equine[equine["image_name"] == file]
    
    last_total = 0
    last_score = 0
            
    for image_type in fileDF["image_type"].unique():
            
        file = file.split("_")[0]
        
        # add inference results
        image_typeDF = fileDF[fileDF["image_type"] == image_type]
        stats = get_stat_from_df(image_typeDF)
                
        data.append([id, file, image_type, "Inference", stats["total"], stats["score"], stats["0"]
                     , stats["1"], stats["2"], stats["3"], stats["4"], stats["mean"], stats["std"]])
        id += 1
        
        deleted = image_typeDF[(image_typeDF["deleted"] == True)]
        
        # auto cluster results
        cluster = deleted[(deleted["scales"] > 1.2) | (deleted["scales"] < 0.8) | deleted["unique_identifier"].isin(dfCC["unique_identifier"])]
        cluster_abs = image_typeDF[~image_typeDF["unique_identifier"].isin(cluster["unique_identifier"])]
        cs = get_stat_from_df(cluster_abs)
        
        total = cs["total"]
        score = cs["score"]
        total = "{} ({:+.2f} %)".format(total, (total / stats["total"] * 100) - 100)
        score = "{} ({:+.2f} %)".format(score, (score / stats["score"] * 100) - 100)
        
        data.append([id, file, "", "Cluster", total, score, cs["0"]
                     , cs["1"], cs["2"], cs["3"], cs["4"], cs["mean"], cs["std"]])
        id += 1
        
        # expert screening results
        screening = deleted[~deleted["unique_identifier"].isin(cluster["unique_identifier"])]
        screening_abs = image_typeDF[~image_typeDF["unique_identifier"].isin(screening["unique_identifier"]) 
                     & ~image_typeDF["unique_identifier"].isin(cluster["unique_identifier"])]
        s_screen = get_stat_from_df(screening_abs)
        
        total = s_screen["total"]
        score = s_screen["score"]
        total = "{} ({:+.2f} %)".format(total, (total / cs["total"] * 100) - 100)
        score = "{} ({:+.2f} %)".format(score, (score / cs["score"] * 100) - 100)
        
        data.append([id, file, "", "Screening", total, score, s_screen["0"]
                     , s_screen["1"], s_screen["2"], s_screen["3"], s_screen["4"], s_screen["mean"], s_screen["std"]])
        id += 1

        # added by expert
        added = image_typeDF[(image_typeDF["deleted"] == False) & (image_typeDF["user_id"] == 12)]
        
        # classification changed by expert
        changed = image_typeDF[(image_typeDF["deleted"] == False) & (image_typeDF["last_editor"] == 12)]
            
        data.append([id, file, "", "DensityMap", total, score, s_screen["0"]
                     , s_screen["1"], s_screen["2"], s_screen["3"], s_screen["4"], s_screen["mean"], s_screen["std"]])
        
        # add just the final results
        data_short.append([file, image_type, s_screen["total"], s_screen["score"], s_screen["0"]
                     , s_screen["1"], s_screen["2"], s_screen["3"], s_screen["4"], s_screen["mean"], s_screen["std"]])
        
        id += 1

equine_short = pd.DataFrame(data_short, columns=['file', 'image_type', 'total' ,'score', '0', '1', '2', '3', '4', 'mean', 'SD'])
equine_short = equine_short.sort_values(by=['file'])
equine_short.head()       
            
equine = pd.DataFrame(data, columns=['id', 'file', 'image_type', 'version', 'total' ,'score', '0', '1', '2', '3', '4', 'mean', 'SD'])
equine = equine.sort_values(by=['file', "id"])
equine.head()

,id,file,image_type,version,total,score,0,1,2,3,4,mean,SD
72,72,01,TurnbullBlue,Inference,6641,143,1301,2152,2261,876,51,1.431411,0.973211
73,73,01,,Cluster,6530 (-1.67 %),144 (+0.70 %),1252,2110,2249,869,50,1.441807,0.970730
74,74,01,,Screening,4613 (-29.36 %),157 (+9.03 %),536,1577,1837,658,5,1.570561,0.877131
75,75,01,,DensityMap,4613 (-29.36 %),157 (+9.03 %),536,1577,1837,658,5,1.570561,0.877131
76,76,02,TurnbullBlue,Inference,11694,76,5205,4404,1684,394,7,0.768086,0.821910

In [13]:
equine_short.to_csv(header=False, index=False, float_format='%.2f').replace(",","  &  ").replace("_","\_").replace("\r\n","\\ |").split(" |")

['01  &  TurnbullBlue  &  4613  &  157  &  536  &  1577  &  1837  &  658  &  5  &  1.57  &  0.88\\',
 '02  &  TurnbullBlue  &  6311  &  98  &  2094  &  2560  &  1291  &  364  &  2  &  0.99  &  0.88\\',
 '03  &  TurnbullBlue  &  5391  &  51  &  3323  &  1424  &  583  &  61  &  0  &  0.51  &  0.73\\',
 '04  &  TurnbullBlue  &  4429  &  122  &  876  &  1977  &  1270  &  305  &  1  &  1.23  &  0.84\\',
 '05  &  TurnbullBlue  &  1634  &  48  &  967  &  554  &  104  &  9  &  0  &  0.48  &  0.64\\',
 '07  &  BerlinerBlau  &  2605  &  26  &  1940  &  635  &  30  &  0  &  0  &  0.27  &  0.47\\',
 '08  &  BerlinerBlau  &  1619  &  181  &  182  &  394  &  615  &  393  &  35  &  1.82  &  0.99\\',
 '09  &  BerlinerBlau  &  1055  &  58  &  554  &  389  &  107  &  5  &  0  &  0.59  &  0.69\\',
 '10  &  TurnbullBlue  &  596  &  95  &  169  &  288  &  135  &  4  &  0  &  0.96  &  0.73\\',
 '10  &  BerlinerBlau  &  943  &  61  &  456  &  394  &  92  &  0  &  1  &  0.62  &  0.67\\',
 '11  &  TurnbullBlue  &  1086  &  177  &  49  &  250  &  688  &  99  &  0  &  1.77  &  0.67\\',
 '13  &  TurnbullBlue  &  4024  &  91  &  1229  &  2017  &  679  &  98  &  1  &  0.91  &  0.75\\',
 '13  &  BerlinerBlau  &  4942  &  64  &  2478  &  1817  &  584  &  58  &  5  &  0.64  &  0.74\\',
 '14  &  BerlinerBlau  &  5171  &  190  &  734  &  1383  &  1157  &  1436  &  461  &  1.90  &  1.21\\',
 '15  &  TurnbullBlue  &  5879  &  148  &  935  &  2223  &  1674  &  1038  &  9  &  1.48  &  0.96\\',
 '15  &  BerlinerBlau  &  8891  &  108  &  2884  &  3124  &  2138  &  733  &  12  &  1.09  &  0.95\\',
 '16  &  TurnbullBlue  &  1062  &  104  &  313  &  444  &  252  &  51  &  2  &  1.04  &  0.86\\',
 '16  &  BerlinerBlau  &  1722  &  108  &  537  &  705  &  303  &  152  &  25  &  1.08  &  0.98\\',
 '17  &  TurnbullBlue  &  4590  &  89  &  1641  &  2016  &  727  &  199  &  7  &  0.89  &  0.83\\',
 '17  &  BerlinerBlau  &  6245  &  73  &  2725  &  2625  &  715  &  166  &  14  &  0.74  &  0.78\\',
 '18  &  BerlinerBlau  &  8607  &  53  &  4946  &  2797  &  797  &  59  &  8  &  0.53  &  0.70\\',
 '18  &  TurnbullBlue  &  6090  &  74  &  2904  &  2034  &  944  &  196  &  12  &  0.75  &  0.85\\',
 '19  &  BerlinerBlau  &  3211  &  42  &  2056  &  969  &  180  &  4  &  2  &  0.42  &  0.61\\',
 '19  &  TurnbullBlue  &  2561  &  68  &  1197  &  1012  &  316  &  36  &  0  &  0.68  &  0.74\\',
 '20  &  TurnbullBlue  &  7891  &  126  &  1930  &  3000  &  1940  &  1021  &  0  &  1.26  &  0.97\\',
 '21  &  TurnbullBlue  &  2036  &  159  &  126  &  732  &  1021  &  157  &  0  &  1.59  &  0.72\\',
 '22  &  BerlinerBlau  &  7581  &  124  &  2147  &  2441  &  2025  &  899  &  69  &  1.25  &  1.02\\',
 '23  &  BerlinerBlau  &  8542  &  143  &  1790  &  2916  &  2374  &  1259  &  203  &  1.43  &  1.05\\',
 '23  &  TurnbullBlue  &  6660  &  153  &  828  &  2461  &  2383  &  980  &  8  &  1.53  &  0.89\\',
 '24  &  BerlinerBlau  &  6590  &  148  &  639  &  2657  &  2772  &  476  &  46  &  1.49  &  0.79\\',
 '24  &  TurnbullBlue  &  6500  &  154  &  520  &  2540  &  2802  &  635  &  3  &  1.55  &  0.78\\',
 '25  &  BerlinerBlau  &  4251  &  148  &  660  &  1269  &  1952  &  341  &  29  &  1.48  &  0.87\\',
 '25  &  TurnbullBlue  &  2807  &  161  &  255  &  777  &  1564  &  211  &  0  &  1.62  &  0.75\\',
 '26  &  TurnbullBlue  &  3616  &  198  &  142  &  717  &  1827  &  917  &  13  &  1.98  &  0.79\\',
 '27  &  TurnbullBlue  &  3209  &  73  &  1392  &  1359  &  364  &  93  &  1  &  0.74  &  0.77\\',
 '28  &  BerlinerBlau  &  1087  &  12  &  964  &  113  &  10  &  0  &  0  &  0.12  &  0.35\\',
 '29  &  BerlinerBlau  &  1256  &  32  &  908  &  287  &  61  &  0  &  0  &  0.33  &  0.56\\',
 '30  &  BerlinerBlau  &  7434  &  99  &  2815  &  2464  &  1523  &  606  &  26  &  1.00  &  0.97\\',
 '30  &  TurnbullBlue  &  5225  &  122  &  1245  &  2156  &  1234  &  586  &  4  &  1.22  &  0.94\\',
 '31  &  TurnbullBlue  &  3986  &  40  &  2488  &  1409  &  72  &  16  &  1  &  0.40  &  0.55\\',
 '']

In [14]:
columns = list(equine.columns)[1:]
equine.to_csv(header=False, index=False, float_format='%.2f', columns=columns).replace(",","  &  ").replace("_","\_").replace("\r\n","\\ |").split(" |")

['01  &  TurnbullBlue  &  Inference  &  6641  &  143  &  1301  &  2152  &  2261  &  876  &  51  &  1.43  &  0.97\\',
 '01  &    &  Cluster  &  6530 (-1.67 %)  &  144 (+0.70 %)  &  1252  &  2110  &  2249  &  869  &  50  &  1.44  &  0.97\\',
 '01  &    &  Screening  &  4613 (-29.36 %)  &  157 (+9.03 %)  &  536  &  1577  &  1837  &  658  &  5  &  1.57  &  0.88\\',
 '01  &    &  DensityMap  &  4613 (-29.36 %)  &  157 (+9.03 %)  &  536  &  1577  &  1837  &  658  &  5  &  1.57  &  0.88\\',
 '02  &  TurnbullBlue  &  Inference  &  11694  &  76  &  5205  &  4404  &  1684  &  394  &  7  &  0.77  &  0.82\\',
 '02  &    &  Cluster  &  11451 (-2.08 %)  &  77 (+1.32 %)  &  5062  &  4311  &  1679  &  393  &  6  &  0.77  &  0.82\\',
 '02  &    &  Screening  &  6311 (-44.89 %)  &  98 (+27.27 %)  &  2094  &  2560  &  1291  &  364  &  2  &  0.99  &  0.88\\',
 '02  &    &  DensityMap  &  6311 (-44.89 %)  &  98 (+27.27 %)  &  2094  &  2560  &  1291  &  364  &  2  &  0.99  &  0.88\\',
 '03  &  TurnbullBlue  &  Inference  &  6926  &  41  &  4749  &  1519  &  596  &  62  &  0  &  0.42  &  0.68\\',
 '03  &    &  Cluster  &  6838 (-1.27 %)  &  42 (+2.44 %)  &  4672  &  1508  &  596  &  62  &  0  &  0.42  &  0.69\\',
 '03  &    &  Screening  &  5391 (-21.16 %)  &  51 (+21.43 %)  &  3323  &  1424  &  583  &  61  &  0  &  0.51  &  0.73\\',
 '03  &    &  DensityMap  &  5391 (-21.16 %)  &  51 (+21.43 %)  &  3323  &  1424  &  583  &  61  &  0  &  0.51  &  0.73\\',
 '04  &  TurnbullBlue  &  Inference  &  6308  &  98  &  2131  &  2443  &  1416  &  316  &  2  &  0.99  &  0.87\\',
 '04  &    &  Cluster  &  6249 (-0.94 %)  &  99 (+1.02 %)  &  2101  &  2419  &  1412  &  315  &  2  &  0.99  &  0.88\\',
 '04  &    &  Screening  &  4429 (-29.12 %)  &  122 (+23.23 %)  &  876  &  1977  &  1270  &  305  &  1  &  1.23  &  0.84\\',
 '04  &    &  DensityMap  &  4429 (-29.12 %)  &  122 (+23.23 %)  &  876  &  1977  &  1270  &  305  &  1  &  1.23  &  0.84\\',
 '05  &  TurnbullBlue  &  Inference  &  2307  &  37  &  1574  &  612  &  110  &  9  &  2  &  0.38  &  0.60\\',
 '05  &    &  Cluster  &  2275 (-1.39 %)  &  37 (+0.00 %)  &  1545  &  609  &  110  &  9  &  2  &  0.38  &  0.61\\',
 '05  &    &  Screening  &  1634 (-28.18 %)  &  48 (+29.73 %)  &  967  &  554  &  104  &  9  &  0  &  0.48  &  0.64\\',
 '05  &    &  DensityMap  &  1634 (-28.18 %)  &  48 (+29.73 %)  &  967  &  554  &  104  &  9  &  0  &  0.48  &  0.64\\',
 '07  &  BerlinerBlau  &  Inference  &  3143  &  23  &  2448  &  664  &  30  &  0  &  1  &  0.23  &  0.45\\',
 '07  &    &  Cluster  &  3120 (-0.73 %)  &  23 (+0.00 %)  &  2428  &  661  &  30  &  0  &  1  &  0.23  &  0.45\\',
 '07  &    &  Screening  &  2605 (-16.51 %)  &  26 (+13.04 %)  &  1940  &  635  &  30  &  0  &  0  &  0.27  &  0.47\\',
 '07  &    &  DensityMap  &  2605 (-16.51 %)  &  26 (+13.04 %)  &  1940  &  635  &  30  &  0  &  0  &  0.27  &  0.47\\',
 '08  &  BerlinerBlau  &  Inference  &  1873  &  171  &  315  &  426  &  665  &  420  &  47  &  1.71  &  1.07\\',
 '08  &    &  Cluster  &  1843 (-1.60 %)  &  172 (+0.58 %)  &  301  &  417  &  659  &  419  &  47  &  1.73  &  1.06\\',
 '08  &    &  Screening  &  1619 (-12.15 %)  &  181 (+5.23 %)  &  182  &  394  &  615  &  393  &  35  &  1.82  &  0.99\\',
 '08  &    &  DensityMap  &  1619 (-12.15 %)  &  181 (+5.23 %)  &  182  &  394  &  615  &  393  &  35  &  1.82  &  0.99\\',
 '09  &  BerlinerBlau  &  Inference  &  1352  &  47  &  834  &  402  &  108  &  6  &  2  &  0.48  &  0.67\\',
 '09  &    &  Cluster  &  1340 (-0.89 %)  &  47 (+0.00 %)  &  826  &  398  &  108  &  6  &  2  &  0.48  &  0.68\\',
 '09  &    &  Screening  &  1055 (-21.27 %)  &  58 (+23.40 %)  &  554  &  389  &  107  &  5  &  0  &  0.59  &  0.69\\',
 '09  &    &  DensityMap  &  1055 (-21.27 %)  &  58 (+23.40 %)  &  554  &  389  &  107  &  5  &  0  &  0.59  &  0.69\\',
 '10  &  BerlinerBlau  &  Inference  &  1261  &  47  &  763  &  403  &  93  &  1  &  1  &  0.47  &  0.64\\',
 '10  &    &  Cluster  &  1239 (-1.74 %)  &  48 (+2.13 %)  &  742  &  402  &  93  &  1  &  1  &  0.48  &  0.64\\',
 '10  &    &  Screening  &  943 (-23.89 %)  &  61 (+27.08 %)  &  456  &  394  &  92  &  0  &  1  &  0.62  &  0.67\\',
 '10  &    &  DensityMap  &  943 (-23.89 %)  &  61 (+27.08 %)  &  456  &  394  &  92  &  0  &  1  &  0.62  &  0.67\\',
 '10  &  TurnbullBlue  &  Inference  &  1161  &  55  &  671  &  340  &  143  &  6  &  1  &  0.56  &  0.73\\',
 '10  &    &  Cluster  &  1119 (-3.62 %)  &  57 (+3.64 %)  &  635  &  336  &  142  &  5  &  1  &  0.57  &  0.73\\',
 '10  &    &  Screening  &  596 (-46.74 %)  &  95 (+66.67 %)  &  169  &  288  &  135  &  4  &  0  &  0.96  &  0.73\\',
 '10  &    &  DensityMap  &  596 (-46.74 %)  &  95 (+66.67 %)  &  169  &  288  &  135  &  4  &  0  &  0.96  &  0.73\\',
 '11  &  TurnbullBlue  &  Inference  &  1956  &  163  &  357  &  379  &  893  &  274  &  53  &  1.64  &  1.02\\',
 '11  &    &  Cluster  &  1913 (-2.20 %)  &  164 (+0.61 %)  &  342  &  365  &  890  &  266  &  50  &  1.64  &  1.01\\',
 '11  &    &  Screening  &  1086 (-43.23 %)  &  177 (+7.93 %)  &  49  &  250  &  688  &  99  &  0  &  1.77  &  0.67\\',
 '11  &    &  DensityMap  &  1086 (-43.23 %)  &  177 (+7.93 %)  &  49  &  250  &  688  &  99  &  0  &  1.77  &  0.67\\',
 '13  &  BerlinerBlau  &  Inference  &  5944  &  54  &  3419  &  1862  &  598  &  59  &  6  &  0.55  &  0.72\\',
 '13  &    &  Cluster  &  5908 (-0.61 %)  &  55 (+1.85 %)  &  3390  &  1856  &  597  &  59  &  6  &  0.55  &  0.72\\',
 '13  &    &  Screening  &  4942 (-16.35 %)  &  64 (+16.36 %)  &  2478  &  1817  &  584  &  58  &  5  &  0.64  &  0.74\\',
 '13  &    &  DensityMap  &  4942 (-16.35 %)  &  64 (+16.36 %)  &  2478  &  1817  &  584  &  58  &  5  &  0.64  &  0.74\\',
 '13  &  TurnbullBlue  &  Inference  &  5824  &  71  &  2646  &  2339  &  719  &  112  &  8  &  0.71  &  0.76\\',
 '13  &    &  Cluster  &  5737 (-1.49 %)  &  71 (+0.00 %)  &  2595  &  2308  &  716  &  110  &  8  &  0.72  &  0.77\\',
 '13  &    &  Screening  &  4024 (-29.86 %)  &  91 (+28.17 %)  &  1229  &  2017  &  679  &  98  &  1  &  0.91  &  0.75\\',
 '13  &    &  DensityMap  &  4024 (-29.86 %)  &  91 (+28.17 %)  &  1229  &  2017  &  679  &  98  &  1  &  0.91  &  0.75\\',
 '14  &  BerlinerBlau  &  Inference  &  5741  &  182  &  1028  &  1466  &  1233  &  1485  &  529  &  1.83  &  1.25\\',
 '14  &    &  Cluster  &  5677 (-1.11 %)  &  183 (+0.55 %)  &  997  &  1452  &  1224  &  1477  &  527  &  1.84  &  1.25\\',
 '14  &    &  Screening  &  5171 (-8.91 %)  &  190 (+3.83 %)  &  734  &  1383  &  1157  &  1436  &  461  &  1.90  &  1.21\\',
 '14  &    &  DensityMap  &  5171 (-8.91 %)  &  190 (+3.83 %)  &  734  &  1383  &  1157  &  1436  &  461  &  1.90  &  1.21\\',
 '15  &  BerlinerBlau  &  Inference  &  11610  &  91  &  4881  &  3658  &  2302  &  748  &  21  &  0.91  &  0.94\\',
 '15  &    &  Cluster  &  11464 (-1.26 %)  &  91 (+0.00 %)  &  4784  &  3619  &  2294  &  748  &  19  &  0.92  &  0.94\\',
 '15  &    &  Screening  &  8891 (-22.44 %)  &  108 (+18.68 %)  &  2884  &  3124  &  2138  &  733  &  12  &  1.09  &  0.95\\',
 '15  &    &  DensityMap  &  8891 (-22.44 %)  &  108 (+18.68 %)  &  2884  &  3124  &  2138  &  733  &  12  &  1.09  &  0.95\\',
 '15  &  TurnbullBlue  &  Inference  &  12008  &  113  &  3562  &  4527  &  2636  &  1248  &  35  &  1.14  &  0.97\\',
 '15  &    &  Cluster  &  11673 (-2.79 %)  &  115 (+1.77 %)  &  3420  &  4385  &  2596  &  1238  &  34  &  1.15  &  0.97\\',
 '15  &    &  Screening  &  5879 (-49.64 %)  &  148 (+28.70 %)  &  935  &  2223  &  1674  &  1038  &  9  &  1.48  &  0.96\\',
 '15  &    &  DensityMap  &  5879 (-49.64 %)  &  148 (+28.70 %)  &  935  &  2223  &  1674  &  1038  &  9  &  1.48  &  0.96\\',
 '16  &  BerlinerBlau  &  Inference  &  1895  &  102  &  676  &  721  &  310  &  157  &  31  &  1.02  &  1.00\\',
 '16  &    &  Cluster  &  1880 (-0.79 %)  &  102 (+0.00 %)  &  663  &  720  &  309  &  157  &  31  &  1.03  &  1.00\\',
 '16  &    &  Screening  &  1722 (-8.40 %)  &  108 (+5.88 %)  &  537  &  705  &  303  &  152  &  25  &  1.08  &  0.98\\',
 '16  &    &  DensityMap  &  1722 (-8.40 %)  &  108 (+5.88 %)  &  537  &  705  &  303  &  152  &  25  &  1.08  &  0.98\\',
 '16  &  TurnbullBlue  &  Inference  &  2328  &  88  &  1019  &  737  &  410  &  149  &  13  &  0.88  &  0.95\\',
 '16  &    &  Cluster  &  2232 (-4.12 %)  &  89 (+1.14 %)  &  971  &  705  &  396  &  147  &  13  &  0.89  &  0.96\\',
 '16  &    &  Screening  &  1062 (-52.42 %)  &  104 (+16.85 %)  &  313  &  444  &  252  &  51  &  2  &  1.04  &  0.86\\',
 '16  &    &  DensityMap  &  1062 (-52.42 %)  &  104 (+16.85 %)  &  313  &  444  &  252  &  51  &  2  &  1.04  &  0.86\\',
 '17  &  BerlinerBlau  &  Inference  &  8210  &  61  &  4315  &  2965  &  744  &  169  &  17  &  0.61  &  0.75\\',
 '17  &    &  Cluster  &  7989 (-2.69 %)  &  62 (+1.64 %)  &  4152  &  2912  &  739  &  169  &  17  &  0.62  &  0.76\\',
 '17  &    &  Screening  &  6245 (-21.83 %)  &  73 (+17.74 %)  &  2725  &  2625  &  715  &  166  &  14  &  0.74  &  0.78\\',
 '17  &    &  DensityMap  &  6245 (-21.83 %)  &  73 (+17.74 %)  &  2725  &  2625  &  715  &  166  &  14  &  0.74  &  0.78\\',
 '17  &  TurnbullBlue  &  Inference  &  8730  &  62  &  4611  &  3025  &  852  &  228  &  14  &  0.63  &  0.78\\',
 '17  &    &  Cluster  &  8414 (-3.62 %)  &  63 (+1.61 %)  &  4392  &  2943  &  842  &  225  &  12  &  0.64  &  0.78\\',
 '17  &    &  Screening  &  4590 (-45.45 %)  &  89 (+41.27 %)  &  1641  &  2016  &  727  &  199  &  7  &  0.89  &  0.83\\',
 '17  &    &  DensityMap  &  4590 (-45.45 %)  &  89 (+41.27 %)  &  1641  &  2016  &  727  &  199  &  7  &  0.89  &  0.83\\',
 '18  &  BerlinerBlau  &  Inference  &  8962  &  51  &  5275  &  2819  &  801  &  59  &  8  &  0.52  &  0.69\\',
 '18  &    &  Cluster  &  8936 (-0.29 %)  &  51 (+0.00 %)  &  5251  &  2817  &  801  &  59  &  8  &  0.52  &  0.69\\',
 '18  &    &  Screening  &  8607 (-3.68 %)  &  53 (+3.92 %)  &  4946  &  2797  &  797  &  59  &  8  &  0.53  &  0.70\\',
 '18  &    &  DensityMap  &  8607 (-3.68 %)  &  53 (+3.92 %)  &  4946  &  2797  &  797  &  59  &  8  &  0.53  &  0.70\\',
 '18  &  TurnbullBlue  &  Inference  &  8726  &  60  &  4987  &  2459  &  1035  &  222  &  23  &  0.61  &  0.81\\',
 '18  &    &  Cluster  &  8620 (-1.21 %)  &  60 (+0.00 %)  &  4902  &  2444  &  1032  &  221  &  21  &  0.61  &  0.81\\',
 '18  &    &  Screening  &  6090 (-29.35 %)  &  74 (+23.33 %)  &  2904  &  2034  &  944  &  196  &  12  &  0.75  &  0.85\\',
 '18  &    &  DensityMap  &  6090 (-29.35 %)  &  74 (+23.33 %)  &  2904  &  2034  &  944  &  196  &  12  &  0.75  &  0.85\\',
 '19  &  BerlinerBlau  &  Inference  &  3211  &  42  &  2056  &  969  &  180  &  4  &  2  &  0.42  &  0.61\\',
 '19  &    &  Cluster  &  3211 (+0.00 %)  &  42 (+0.00 %)  &  2056  &  969  &  180  &  4  &  2  &  0.42  &  0.61\\',
 '19  &    &  Screening  &  3211 (+0.00 %)  &  42 (+0.00 %)  &  2056  &  969  &  180  &  4  &  2  &  0.42  &  0.61\\',
 '19  &    &  DensityMap  &  3211 (+0.00 %)  &  42 (+0.00 %)  &  2056  &  969  &  180  &  4  &  2  &  0.42  &  0.61\\',
 '19  &  TurnbullBlue  &  Inference  &  3637  &  53  &  2099  &  1162  &  338  &  37  &  1  &  0.54  &  0.71\\',
 '19  &    &  Cluster  &  3585 (-1.43 %)  &  54 (+1.89 %)  &  2062  &  1148  &  337  &  37  &  1  &  0.54  &  0.71\\',
 '19  &    &  Screening  &  2561 (-28.56 %)  &  68 (+25.93 %)  &  1197  &  1012  &  316  &  36  &  0  &  0.68  &  0.74\\',
 '19  &    &  DensityMap  &  2561 (-28.56 %)  &  68 (+25.93 %)  &  1197  &  1012  &  316  &  36  &  0  &  0.68  &  0.74\\',
 '20  &  TurnbullBlue  &  Inference  &  15249  &  99  &  5757  &  5250  &  2839  &  1388  &  15  &  0.99  &  0.97\\',
 '20  &    &  Cluster  &  14799 (-2.95 %)  &  100 (+1.01 %)  &  5482  &  5122  &  2806  &  1374  &  15  &  1.01  &  0.97\\',
 '20  &    &  Screening  &  7891 (-46.68 %)  &  126 (+26.00 %)  &  1930  &  3000  &  1940  &  1021  &  0  &  1.26  &  0.97\\',
 '20  &    &  DensityMap  &  7891 (-46.68 %)  &  126 (+26.00 %)  &  1930  &  3000  &  1940  &  1021  &  0  &  1.26  &  0.97\\',
 '21  &  TurnbullBlue  &  Inference  &  3824  &  170  &  393  &  1077  &  1628  &  709  &  17  &  1.71  &  0.90\\',
 '21  &    &  Cluster  &  3715 (-2.85 %)  &  171 (+0.59 %)  &  372  &  1048  &  1593  &  686  &  16  &  1.71  &  0.90\\',
 '21  &    &  Screening  &  2036 (-45.20 %)  &  159 (-7.02 %)  &  126  &  732  &  1021  &  157  &  0  &  1.59  &  0.72\\',
 '21  &    &  DensityMap  &  2036 (-45.20 %)  &  159 (-7.02 %)  &  126  &  732  &  1021  &  157  &  0  &  1.59  &  0.72\\',
 '22  &  BerlinerBlau  &  Inference  &  9081  &  120  &  2760  &  2875  &  2392  &  972  &  82  &  1.20  &  1.02\\',
 '22  &    &  Cluster  &  9007 (-0.81 %)  &  120 (+0.00 %)  &  2716  &  2853  &  2386  &  971  &  81  &  1.21  &  1.02\\',
 '22  &    &  Screening  &  7581 (-15.83 %)  &  124 (+3.33 %)  &  2147  &  2441  &  2025  &  899  &  69  &  1.25  &  1.02\\',
 '22  &    &  DensityMap  &  7581 (-15.83 %)  &  124 (+3.33 %)  &  2147  &  2441  &  2025  &  899  &  69  &  1.25  &  1.02\\',
 '23  &  BerlinerBlau  &  Inference  &  11814  &  121  &  3498  &  4020  &  2737  &  1324  &  235  &  1.22  &  1.05\\',
 '23  &    &  Cluster  &  11507 (-2.60 %)  &  123 (+1.65 %)  &  3325  &  3914  &  2719  &  1315  &  234  &  1.24  &  1.05\\',
 '23  &    &  Screening  &  8542 (-25.77 %)  &  143 (+16.26 %)  &  1790  &  2916  &  2374  &  1259  &  203  &  1.43  &  1.05\\',
 '23  &    &  DensityMap  &  8542 (-25.77 %)  &  143 (+16.26 %)  &  1790  &  2916  &  2374  &  1259  &  203  &  1.43  &  1.05\\',
 '23  &  TurnbullBlue  &  Inference  &  12372  &  152  &  2192  &  4083  &  3603  &  2388  &  106  &  1.53  &  1.02\\',
 '23  &    &  Cluster  &  11860 (-4.14 %)  &  153 (+0.66 %)  &  2073  &  3881  &  3522  &  2281  &  103  &  1.53  &  1.02\\',
 '23  &    &  Screening  &  6660 (-43.84 %)  &  153 (+0.00 %)  &  828  &  2461  &  2383  &  980  &  8  &  1.53  &  0.89\\',
 '23  &    &  DensityMap  &  6660 (-43.84 %)  &  153 (+0.00 %)  &  828  &  2461  &  2383  &  980  &  8  &  1.53  &  0.89\\',
 '24  &  BerlinerBlau  &  Inference  &  8267  &  130  &  1556  &  3215  &  2936  &  499  &  61  &  1.31  &  0.87\\',
 '24  &    &  Cluster  &  8206 (-0.74 %)  &  131 (+0.77 %)  &  1529  &  3184  &  2933  &  499  &  61  &  1.32  &  0.87\\',
 '24  &    &  Screening  &  6590 (-19.69 %)  &  148 (+12.98 %)  &  639  &  2657  &  2772  &  476  &  46  &  1.49  &  0.79\\',
 '24  &    &  DensityMap  &  6590 (-19.69 %)  &  148 (+12.98 %)  &  639  &  2657  &  2772  &  476  &  46  &  1.49  &  0.79\\',
 '24  &  TurnbullBlue  &  Inference  &  8227  &  137  &  1421  &  3050  &  3021  &  712  &  23  &  1.38  &  0.88\\',
 '24  &    &  Cluster  &  8153 (-0.90 %)  &  137 (+0.00 %)  &  1392  &  3023  &  3009  &  707  &  22  &  1.38  &  0.88\\',
 '24  &    &  Screening  &  6500 (-20.27 %)  &  154 (+12.41 %)  &  520  &  2540  &  2802  &  635  &  3  &  1.55  &  0.78\\',
 '24  &    &  DensityMap  &  6500 (-20.27 %)  &  154 (+12.41 %)  &  520  &  2540  &  2802  &  635  &  3  &  1.55  &  0.78\\',
 '25  &  BerlinerBlau  &  Inference  &  5209  &  129  &  1345  &  1410  &  2064  &  357  &  33  &  1.29  &  0.95\\',
 '25  &    &  Cluster  &  5145 (-1.23 %)  &  130 (+0.78 %)  &  1309  &  1401  &  2047  &  355  &  33  &  1.30  &  0.95\\',
 '25  &    &  Screening  &  4251 (-17.38 %)  &  148 (+13.85 %)  &  660  &  1269  &  1952  &  341  &  29  &  1.48  &  0.87\\',
 '25  &    &  DensityMap  &  4251 (-17.38 %)  &  148 (+13.85 %)  &  660  &  1269  &  1952  &  341  &  29  &  1.48  &  0.87\\',
 '25  &  TurnbullBlue  &  Inference  &  4461  &  136  &  1118  &  1025  &  1893  &  408  &  17  &  1.37  &  0.97\\',
 '25  &    &  Cluster  &  4408 (-1.19 %)  &  137 (+0.74 %)  &  1093  &  1012  &  1885  &  402  &  16  &  1.37  &  0.97\\',
 '25  &    &  Screening  &  2807 (-36.32 %)  &  161 (+17.52 %)  &  255  &  777  &  1564  &  211  &  0  &  1.62  &  0.75\\',
 '25  &    &  DensityMap  &  2807 (-36.32 %)  &  161 (+17.52 %)  &  255  &  777  &  1564  &  211  &  0  &  1.62  &  0.75\\',
 '26  &  TurnbullBlue  &  Inference  &  9677  &  221  &  615  &  1347  &  3334  &  4094  &  287  &  2.22  &  0.94\\',
 '26  &    &  Cluster  &  9286 (-4.04 %)  &  222 (+0.45 %)  &  575  &  1277  &  3233  &  3928  &  273  &  2.22  &  0.94\\',
 '26  &    &  Screening  &  3616 (-61.06 %)  &  198 (-10.81 %)  &  142  &  717  &  1827  &  917  &  13  &  1.98  &  0.79\\',
 '26  &    &  DensityMap  &  3616 (-61.06 %)  &  198 (-10.81 %)  &  142  &  717  &  1827  &  917  &  13  &  1.98  &  0.79\\',
 '27  &  TurnbullBlue  &  Inference  &  4084  &  67  &  1972  &  1594  &  406  &  106  &  6  &  0.67  &  0.77\\',
 '27  &    &  Cluster  &  4044 (-0.98 %)  &  67 (+0.00 %)  &  1951  &  1578  &  404  &  105  &  6  &  0.67  &  0.77\\',
 '27  &    &  Screening  &  3209 (-20.65 %)  &  73 (+8.96 %)  &  1392  &  1359  &  364  &  93  &  1  &  0.74  &  0.77\\',
 '27  &    &  DensityMap  &  3209 (-20.65 %)  &  73 (+8.96 %)  &  1392  &  1359  &  364  &  93  &  1  &  0.74  &  0.77\\',
 '28  &  BerlinerBlau  &  Inference  &  1549  &  9  &  1415  &  123  &  11  &  0  &  0  &  0.09  &  0.31\\',
 '28  &    &  Cluster  &  1506 (-2.78 %)  &  9 (+0.00 %)  &  1373  &  122  &  11  &  0  &  0  &  0.10  &  0.32\\',
 '28  &    &  Screening  &  1087 (-27.82 %)  &  12 (+33.33 %)  &  964  &  113  &  10  &  0  &  0  &  0.12  &  0.35\\',
 '28  &    &  DensityMap  &  1087 (-27.82 %)  &  12 (+33.33 %)  &  964  &  113  &  10  &  0  &  0  &  0.12  &  0.35\\',
 '29  &  BerlinerBlau  &  Inference  &  1545  &  28  &  1172  &  308  &  63  &  0  &  2  &  0.29  &  0.55\\',
 '29  &    &  Cluster  &  1532 (-0.84 %)  &  28 (+0.00 %)  &  1162  &  305  &  63  &  0  &  2  &  0.29  &  0.55\\',
 '29  &    &  Screening  &  1256 (-18.02 %)  &  32 (+14.29 %)  &  908  &  287  &  61  &  0  &  0  &  0.33  &  0.56\\',
 '29  &    &  DensityMap  &  1256 (-18.02 %)  &  32 (+14.29 %)  &  908  &  287  &  61  &  0  &  0  &  0.33  &  0.56\\',
 '30  &  BerlinerBlau  &  Inference  &  9731  &  86  &  4380  &  2976  &  1716  &  629  &  30  &  0.86  &  0.95\\',
 '30  &    &  Cluster  &  9602 (-1.33 %)  &  87 (+1.16 %)  &  4298  &  2934  &  1713  &  627  &  30  &  0.87  &  0.95\\',
 '30  &    &  Screening  &  7434 (-22.58 %)  &  99 (+13.79 %)  &  2815  &  2464  &  1523  &  606  &  26  &  1.00  &  0.97\\',
 '30  &    &  DensityMap  &  7434 (-22.58 %)  &  99 (+13.79 %)  &  2815  &  2464  &  1523  &  606  &  26  &  1.00  &  0.97\\',
 '30  &  TurnbullBlue  &  Inference  &  9562  &  110  &  2872  &  3733  &  2040  &  874  &  43  &  1.11  &  0.95\\',
 '30  &    &  Cluster  &  9391 (-1.79 %)  &  111 (+0.91 %)  &  2799  &  3655  &  2026  &  868  &  43  &  1.12  &  0.95\\',
 '30  &    &  Screening  &  5225 (-44.36 %)  &  122 (+9.91 %)  &  1245  &  2156  &  1234  &  586  &  4  &  1.22  &  0.94\\',
 '30  &    &  DensityMap  &  5225 (-44.36 %)  &  122 (+9.91 %)  &  1245  &  2156  &  1234  &  586  &  4  &  1.22  &  0.94\\',
 '31  &  TurnbullBlue  &  Inference  &  8974  &  46  &  5131  &  3523  &  283  &  30  &  7  &  0.47  &  0.58\\',
 '31  &    &  Cluster  &  8763 (-2.35 %)  &  47 (+2.17 %)  &  5003  &  3441  &  282  &  30  &  7  &  0.47  &  0.59\\',
 '31  &    &  Screening  &  3986 (-54.51 %)  &  40 (-14.89 %)  &  2488  &  1409  &  72  &  16  &  1  &  0.40  &  0.55\\',
 '31  &    &  DensityMap  &  3986 (-54.51 %)  &  40 (-14.89 %)  &  2488  &  1409  &  72  &  16  &  1  &  0.40  &  0.55\\',
 '']

### Cat

In [15]:
cat = df[df["species"]=="felis catus"]
data = []
data_short = []

id = 0
for file in cat["image_name"].unique():
    
    fileDF = cat[cat["image_name"] == file]
    
    last_total = 0
    last_score = 0
            
    for image_type in fileDF["image_type"].unique():
            
        file = Path(file).stem.split("_")[-1]
        
        # add inference results
        image_typeDF = fileDF[fileDF["image_type"] == image_type]
        stats = get_stat_from_df(image_typeDF)
                
        data.append([id, file, image_type, "Inference", stats["total"], stats["score"], stats["0"]
                     , stats["1"], stats["2"], stats["3"], stats["4"], stats["mean"], stats["std"]])
        id += 1
        
        deleted = image_typeDF[(image_typeDF["deleted"] == True)]
        
        # auto cluster results
        cluster = deleted[(deleted["scales"] > 1.2) | (deleted["scales"] < 0.8) | deleted["unique_identifier"].isin(dfCC["unique_identifier"])]
        cluster_abs = image_typeDF[~image_typeDF["unique_identifier"].isin(cluster["unique_identifier"])]
        cs = get_stat_from_df(cluster_abs)
        
        total = cs["total"]
        score = cs["score"]
        total = "{} ({:+.2f} %)".format(total, (total / stats["total"] * 100) - 100)
        score = "{} ({:+.2f} %)".format(score, (score / stats["score"] * 100) - 100)
        
        data.append([id, file, "", "Cluster", total, score, cs["0"]
                     , cs["1"], cs["2"], cs["3"], cs["4"], cs["mean"], cs["std"]])
        id += 1
        
        # expert screening results
        screening = deleted[~deleted["unique_identifier"].isin(cluster["unique_identifier"])]
        screening_abs = image_typeDF[~image_typeDF["unique_identifier"].isin(screening["unique_identifier"]) 
                     & ~image_typeDF["unique_identifier"].isin(cluster["unique_identifier"])]
        s_screen = get_stat_from_df(screening_abs)
        
        total = s_screen["total"]
        score = s_screen["score"]
        total = "{} ({:+.2f} %)".format(total, (total / cs["total"] * 100) - 100)
        score = "{} ({:+.2f} %)".format(score, (score / cs["score"] * 100) - 100)
        
        data.append([id, file, "", "Screening", total, score, s_screen["0"]
                     , s_screen["1"], s_screen["2"], s_screen["3"], s_screen["4"], s_screen["mean"], s_screen["std"]])
        id += 1

        # added by expert
        added = image_typeDF[(image_typeDF["deleted"] == False) & (image_typeDF["user_id"] == 12)]
        
        # classification changed by expert
        changed = image_typeDF[(image_typeDF["deleted"] == False) & (image_typeDF["last_editor"] == 12)]
            
        data.append([id, file, "", "DensityMap", total, score, s_screen["0"]
                     , s_screen["1"], s_screen["2"], s_screen["3"], s_screen["4"], s_screen["mean"], s_screen["std"]])
        
        # add just the final results
        data_short.append([file, image_type, s_screen["total"], s_screen["score"], s_screen["0"]
                     , s_screen["1"], s_screen["2"], s_screen["3"], s_screen["4"], s_screen["mean"], s_screen["std"]])
        
        id += 1

cat_short = pd.DataFrame(data_short, columns=['file', 'image_type', 'total' ,'score', '0', '1', '2', '3', '4', 'mean', 'SD'])
cat_short = cat_short.sort_values(by=['file'])
cat_short.head()       
            
cat = pd.DataFrame(data, columns=['id', 'file', 'image_type', 'version', 'total' ,'score', '0', '1', '2', '3', '4', 'mean', 'SD'])
cat = cat.sort_values(by=['file', "id"])
cat.head()

,id,file,image_type,version,total,score,0,1,2,3,4,mean,SD
0,0,1,TurnbullBlue,Inference,31631,59,12962,18585,77,4,3,0.593184,0.498086
1,1,1,,Cluster,30497 (-3.59 %),59 (+0.00 %),12432,17990,71,3,1,0.594977,0.496616
2,2,1,,Screening,30290 (-0.68 %),59 (+0.00 %),12293,17925,70,2,0,0.596600,0.495676
3,3,1,,DensityMap,30290 (-0.68 %),59 (+0.00 %),12293,17925,70,2,0,0.596600,0.495676
36,36,10,TurnbullBlue,Inference,4141,32,2821,1305,12,2,1,0.323352,0.480044

In [16]:
cat_short.to_csv(header=False, index=False, float_format='%.2f').replace(",","  &  ").replace("_","\_").replace("\r\n","\\ |").split(" |")

['1  &  TurnbullBlue  &  30290  &  59  &  12293  &  17925  &  70  &  2  &  0  &  0.60  &  0.50\\',
 '10  &  TurnbullBlue  &  3903  &  33  &  2617  &  1272  &  12  &  2  &  0  &  0.33  &  0.48\\',
 '11  &  TurnbullBlue  &  30884  &  70  &  9304  &  21515  &  65  &  0  &  0  &  0.70  &  0.46\\',
 '12  &  TurnbullBlue  &  8756  &  32  &  5913  &  2837  &  2  &  0  &  4  &  0.33  &  0.48\\',
 '13  &  TurnbullBlue  &  17025  &  10  &  15232  &  1791  &  2  &  0  &  0  &  0.11  &  0.31\\',
 '14  &  TurnbullBlue  &  5799  &  12  &  5090  &  707  &  1  &  1  &  0  &  0.12  &  0.33\\',
 '2  &  TurnbullBlue  &  11287  &  76  &  2632  &  8636  &  19  &  0  &  0  &  0.77  &  0.43\\',
 '3  &  TurnbullBlue  &  41173  &  88  &  5433  &  35246  &  478  &  15  &  1  &  0.88  &  0.36\\',
 '4  &  TurnbullBlue  &  38063  &  68  &  11970  &  25980  &  100  &  5  &  8  &  0.69  &  0.47\\',
 '5  &  TurnbullBlue  &  35696  &  56  &  15583  &  20110  &  2  &  1  &  0  &  0.56  &  0.50\\',
 '6  &  TurnbullBlue  &  11847  &  6  &  11083  &  763  &  0  &  0  &  1  &  0.06  &  0.25\\',
 '7  &  TurnbullBlue  &  24623  &  39  &  15200  &  9233  &  176  &  12  &  2  &  0.39  &  0.51\\',
 '8  &  TurnbullBlue  &  14328  &  100  &  2036  &  10602  &  1318  &  348  &  24  &  1.00  &  0.59\\',
 '9  &  TurnbullBlue  &  23564  &  38  &  14509  &  8937  &  104  &  12  &  2  &  0.39  &  0.50\\',
 '']

In [17]:
columns = list(equine.columns)[1:]
cat.to_csv(header=False, index=False, float_format='%.2f', columns=columns).replace(",","  &  ").replace("_","\_").replace("\r\n","\\ |").split(" |")

['1  &  TurnbullBlue  &  Inference  &  31631  &  59  &  12962  &  18585  &  77  &  4  &  3  &  0.59  &  0.50\\',
 '1  &    &  Cluster  &  30497 (-3.59 %)  &  59 (+0.00 %)  &  12432  &  17990  &  71  &  3  &  1  &  0.59  &  0.50\\',
 '1  &    &  Screening  &  30290 (-0.68 %)  &  59 (+0.00 %)  &  12293  &  17925  &  70  &  2  &  0  &  0.60  &  0.50\\',
 '1  &    &  DensityMap  &  30290 (-0.68 %)  &  59 (+0.00 %)  &  12293  &  17925  &  70  &  2  &  0  &  0.60  &  0.50\\',
 '10  &  TurnbullBlue  &  Inference  &  4141  &  32  &  2821  &  1305  &  12  &  2  &  1  &  0.32  &  0.48\\',
 '10  &    &  Cluster  &  3903 (-5.75 %)  &  33 (+3.12 %)  &  2617  &  1272  &  12  &  2  &  0  &  0.33  &  0.48\\',
 '10  &    &  Screening  &  3903 (+0.00 %)  &  33 (+0.00 %)  &  2617  &  1272  &  12  &  2  &  0  &  0.33  &  0.48\\',
 '10  &    &  DensityMap  &  3903 (+0.00 %)  &  33 (+0.00 %)  &  2617  &  1272  &  12  &  2  &  0  &  0.33  &  0.48\\',
 '11  &  TurnbullBlue  &  Inference  &  31972  &  69  &  9686  &  22218  &  68  &  0  &  0  &  0.70  &  0.46\\',
 '11  &    &  Cluster  &  30884 (-3.40 %)  &  70 (+1.45 %)  &  9304  &  21515  &  65  &  0  &  0  &  0.70  &  0.46\\',
 '11  &    &  Screening  &  30884 (+0.00 %)  &  70 (+0.00 %)  &  9304  &  21515  &  65  &  0  &  0  &  0.70  &  0.46\\',
 '11  &    &  DensityMap  &  30884 (+0.00 %)  &  70 (+0.00 %)  &  9304  &  21515  &  65  &  0  &  0  &  0.70  &  0.46\\',
 '12  &  TurnbullBlue  &  Inference  &  9028  &  35  &  6061  &  2890  &  2  &  0  &  75  &  0.35  &  0.57\\',
 '12  &    &  Cluster  &  8756 (-3.01 %)  &  32 (-8.57 %)  &  5913  &  2837  &  2  &  0  &  4  &  0.33  &  0.48\\',
 '12  &    &  Screening  &  8756 (+0.00 %)  &  32 (+0.00 %)  &  5913  &  2837  &  2  &  0  &  4  &  0.33  &  0.48\\',
 '12  &    &  DensityMap  &  8756 (+0.00 %)  &  32 (+0.00 %)  &  5913  &  2837  &  2  &  0  &  4  &  0.33  &  0.48\\',
 '13  &  TurnbullBlue  &  Inference  &  17437  &  11  &  15540  &  1857  &  3  &  0  &  37  &  0.12  &  0.36\\',
 '13  &    &  Cluster  &  17025 (-2.36 %)  &  10 (-9.09 %)  &  15232  &  1791  &  2  &  0  &  0  &  0.11  &  0.31\\',
 '13  &    &  Screening  &  17025 (+0.00 %)  &  10 (+0.00 %)  &  15232  &  1791  &  2  &  0  &  0  &  0.11  &  0.31\\',
 '13  &    &  DensityMap  &  17025 (+0.00 %)  &  10 (+0.00 %)  &  15232  &  1791  &  2  &  0  &  0  &  0.11  &  0.31\\',
 '14  &  TurnbullBlue  &  Inference  &  8277  &  9  &  7533  &  742  &  1  &  1  &  0  &  0.09  &  0.29\\',
 '14  &    &  Cluster  &  5799 (-29.94 %)  &  12 (+33.33 %)  &  5090  &  707  &  1  &  1  &  0  &  0.12  &  0.33\\',
 '14  &    &  Screening  &  5799 (+0.00 %)  &  12 (+0.00 %)  &  5090  &  707  &  1  &  1  &  0  &  0.12  &  0.33\\',
 '14  &    &  DensityMap  &  5799 (+0.00 %)  &  12 (+0.00 %)  &  5090  &  707  &  1  &  1  &  0  &  0.12  &  0.33\\',
 '2  &  TurnbullBlue  &  Inference  &  11769  &  76  &  2776  &  8969  &  20  &  1  &  3  &  0.77  &  0.43\\',
 '2  &    &  Cluster  &  11287 (-4.10 %)  &  76 (+0.00 %)  &  2632  &  8636  &  19  &  0  &  0  &  0.77  &  0.43\\',
 '2  &    &  Screening  &  11287 (+0.00 %)  &  76 (+0.00 %)  &  2632  &  8636  &  19  &  0  &  0  &  0.77  &  0.43\\',
 '2  &    &  DensityMap  &  11287 (+0.00 %)  &  76 (+0.00 %)  &  2632  &  8636  &  19  &  0  &  0  &  0.77  &  0.43\\',
 '3  &  TurnbullBlue  &  Inference  &  42295  &  88  &  5606  &  36176  &  494  &  15  &  4  &  0.88  &  0.36\\',
 '3  &    &  Cluster  &  41173 (-2.65 %)  &  88 (+0.00 %)  &  5433  &  35246  &  478  &  15  &  1  &  0.88  &  0.36\\',
 '3  &    &  Screening  &  41173 (+0.00 %)  &  88 (+0.00 %)  &  5433  &  35246  &  478  &  15  &  1  &  0.88  &  0.36\\',
 '3  &    &  DensityMap  &  41173 (+0.00 %)  &  88 (+0.00 %)  &  5433  &  35246  &  478  &  15  &  1  &  0.88  &  0.36\\',
 '4  &  TurnbullBlue  &  Inference  &  39065  &  68  &  12274  &  26669  &  107  &  5  &  10  &  0.69  &  0.47\\',
 '4  &    &  Cluster  &  38063 (-2.56 %)  &  68 (+0.00 %)  &  11970  &  25980  &  100  &  5  &  8  &  0.69  &  0.47\\',
 '4  &    &  Screening  &  38063 (+0.00 %)  &  68 (+0.00 %)  &  11970  &  25980  &  100  &  5  &  8  &  0.69  &  0.47\\',
 '4  &    &  DensityMap  &  38063 (+0.00 %)  &  68 (+0.00 %)  &  11970  &  25980  &  100  &  5  &  8  &  0.69  &  0.47\\',
 '5  &  TurnbullBlue  &  Inference  &  36597  &  56  &  16028  &  20563  &  3  &  1  &  2  &  0.56  &  0.50\\',
 '5  &    &  Cluster  &  35696 (-2.46 %)  &  56 (+0.00 %)  &  15583  &  20110  &  2  &  1  &  0  &  0.56  &  0.50\\',
 '5  &    &  Screening  &  35696 (+0.00 %)  &  56 (+0.00 %)  &  15583  &  20110  &  2  &  1  &  0  &  0.56  &  0.50\\',
 '5  &    &  DensityMap  &  35696 (+0.00 %)  &  56 (+0.00 %)  &  15583  &  20110  &  2  &  1  &  0  &  0.56  &  0.50\\',
 '6  &  TurnbullBlue  &  Inference  &  12309  &  6  &  11471  &  837  &  0  &  0  &  1  &  0.07  &  0.25\\',
 '6  &    &  Cluster  &  11847 (-3.75 %)  &  6 (+0.00 %)  &  11083  &  763  &  0  &  0  &  1  &  0.06  &  0.25\\',
 '6  &    &  Screening  &  11847 (+0.00 %)  &  6 (+0.00 %)  &  11083  &  763  &  0  &  0  &  1  &  0.06  &  0.25\\',
 '6  &    &  DensityMap  &  11847 (+0.00 %)  &  6 (+0.00 %)  &  11083  &  763  &  0  &  0  &  1  &  0.06  &  0.25\\',
 '7  &  TurnbullBlue  &  Inference  &  25221  &  40  &  15497  &  9435  &  180  &  12  &  97  &  0.41  &  0.55\\',
 '7  &    &  Cluster  &  24623 (-2.37 %)  &  39 (-2.50 %)  &  15200  &  9233  &  176  &  12  &  2  &  0.39  &  0.51\\',
 '7  &    &  Screening  &  24623 (+0.00 %)  &  39 (+0.00 %)  &  15200  &  9233  &  176  &  12  &  2  &  0.39  &  0.51\\',
 '7  &    &  DensityMap  &  24623 (+0.00 %)  &  39 (+0.00 %)  &  15200  &  9233  &  176  &  12  &  2  &  0.39  &  0.51\\',
 '8  &  TurnbullBlue  &  Inference  &  15197  &  105  &  2149  &  11031  &  1390  &  361  &  266  &  1.05  &  0.69\\',
 '8  &    &  Cluster  &  14328 (-5.72 %)  &  100 (-4.76 %)  &  2036  &  10602  &  1318  &  348  &  24  &  1.00  &  0.59\\',
 '8  &    &  Screening  &  14328 (+0.00 %)  &  100 (+0.00 %)  &  2036  &  10602  &  1318  &  348  &  24  &  1.00  &  0.59\\',
 '8  &    &  DensityMap  &  14328 (+0.00 %)  &  100 (+0.00 %)  &  2036  &  10602  &  1318  &  348  &  24  &  1.00  &  0.59\\',
 '9  &  TurnbullBlue  &  Inference  &  24100  &  39  &  14795  &  9183  &  107  &  12  &  3  &  0.39  &  0.50\\',
 '9  &    &  Cluster  &  23564 (-2.22 %)  &  38 (-2.56 %)  &  14509  &  8937  &  104  &  12  &  2  &  0.39  &  0.50\\',
 '9  &    &  Screening  &  23564 (+0.00 %)  &  38 (+0.00 %)  &  14509  &  8937  &  104  &  12  &  2  &  0.39  &  0.50\\',
 '9  &    &  DensityMap  &  23564 (+0.00 %)  &  38 (+0.00 %)  &  14509  &  8937  &  104  &  12  &  2  &  0.39  &  0.50\\',
 '']

### Human

In [18]:
human = df[df["species"]=="human"]
data = []
data_short = []

id = 0
for file in human["image_name"].unique():
    
    fileDF = human[human["image_name"] == file]
    
    last_total = 0
    last_score = 0
            
    for image_type in fileDF["image_type"].unique():
            
        file = Path(file).stem.split("_")[0]
        
        # add inference results
        image_typeDF = fileDF[fileDF["image_type"] == image_type]
        stats = get_stat_from_df(image_typeDF)
                
        data.append([id, file, image_type, "Inference", stats["total"], stats["score"], stats["0"]
                     , stats["1"], stats["2"], stats["3"], stats["4"], stats["mean"], stats["std"]])
        id += 1
        
        deleted = image_typeDF[(image_typeDF["deleted"] == True)]
        
        # auto cluster results
        cluster = deleted[(deleted["scales"] > 1.2) | (deleted["scales"] < 0.8) | deleted["unique_identifier"].isin(dfCC["unique_identifier"])]
        cluster_abs = image_typeDF[~image_typeDF["unique_identifier"].isin(cluster["unique_identifier"])]
        cs = get_stat_from_df(cluster_abs)
        
        total = cs["total"]
        score = cs["score"]
        total = "{} ({:+.2f} %)".format(total, (total / stats["total"] * 100) - 100)
        score = "{} ({:+.2f} %)".format(score, (score / stats["score"] * 100) - 100)
        
        data.append([id, file, "", "Cluster", total, score, cs["0"]
                     , cs["1"], cs["2"], cs["3"], cs["4"], cs["mean"], cs["std"]])
        id += 1
        
        # expert screening results
        screening = deleted[~deleted["unique_identifier"].isin(cluster["unique_identifier"])]
        screening_abs = image_typeDF[~image_typeDF["unique_identifier"].isin(screening["unique_identifier"]) 
                     & ~image_typeDF["unique_identifier"].isin(cluster["unique_identifier"])]
        s_screen = get_stat_from_df(screening_abs)
        
        total = s_screen["total"]
        score = s_screen["score"]
        total = "{} ({:+.2f} %)".format(total, (total / cs["total"] * 100) - 100)
        score = "{} ({:+.2f} %)".format(score, (score / cs["score"] * 100) - 100)
        
        data.append([id, file, "", "Screening", total, score, s_screen["0"]
                     , s_screen["1"], s_screen["2"], s_screen["3"], s_screen["4"], s_screen["mean"], s_screen["std"]])
        id += 1

        # added by expert
        added = image_typeDF[(image_typeDF["deleted"] == False) & (image_typeDF["user_id"] == 12)]
        
        # classification changed by expert
        changed = image_typeDF[(image_typeDF["deleted"] == False) & (image_typeDF["last_editor"] == 12)]
            
        data.append([id, file, "", "DensityMap", total, score, s_screen["0"]
                     , s_screen["1"], s_screen["2"], s_screen["3"], s_screen["4"], s_screen["mean"], s_screen["std"]])
        
        # add just the final results
        data_short.append([file, image_type, s_screen["total"], s_screen["score"], s_screen["0"]
                     , s_screen["1"], s_screen["2"], s_screen["3"], s_screen["4"], s_screen["mean"], s_screen["std"]])
        
        id += 1

human_short = pd.DataFrame(data_short, columns=['file', 'image_type', 'total' ,'score', '0', '1', '2', '3', '4', 'mean', 'SD'])
human_short = human_short.sort_values(by=['file'])
human_short.head()       
            
human = pd.DataFrame(data, columns=['id', 'file', 'image_type', 'version', 'total' ,'score', '0', '1', '2', '3', '4', 'mean', 'SD'])
human = human.sort_values(by=['file', "id"])
human.head()

,id,file,image_type,version,total,score,0,1,2,3,4,mean,SD
8,8,10052,BerlinerBlau,Inference,16088,177,1057,3792,8926,2284,29,1.778468,0.773724
9,9,10052,,Cluster,16083 (-0.03 %),177 (+0.00 %),1057,3791,8923,2283,29,1.778400,0.773754
10,10,10052,,Screening,6347 (-60.54 %),180 (+1.69 %),120,1736,3744,738,9,1.807783,0.658946
11,11,10052,,DensityMap,6347 (-60.54 %),180 (+1.69 %),120,1736,3744,738,9,1.807783,0.658946
12,12,10080,BerlinerBlau,Inference,11216,131,1431,5386,3799,582,18,1.319722,0.765593

In [19]:
human_short.to_csv(header=False, index=False, float_format='%.2f').replace(",","  &  ").replace("_","\_").replace("\r\n","\\ |").split(" |")

['10052  &  BerlinerBlau  &  6347  &  180  &  120  &  1736  &  3744  &  738  &  9  &  1.81  &  0.66\\',
 '10080  &  BerlinerBlau  &  6025  &  146  &  284  &  3015  &  2375  &  342  &  9  &  1.47  &  0.68\\',
 '10080  &  TurnbullBlue  &  13833  &  135  &  1185  &  7135  &  4879  &  620  &  14  &  1.36  &  0.71\\',
 '10120  &  BerlinerBlau  &  8600  &  191  &  112  &  2225  &  4656  &  1502  &  105  &  1.91  &  0.73\\',
 '10120  &  TurnbullBlue  &  17143  &  192  &  387  &  3602  &  10171  &  2947  &  36  &  1.92  &  0.69\\',
 '10227  &  BerlinerBlau  &  24817  &  65  &  9663  &  13975  &  1161  &  16  &  2  &  0.66  &  0.57\\',
 '10277  &  TurnbullBlue  &  25240  &  70  &  9500  &  13797  &  1910  &  32  &  1  &  0.70  &  0.61\\',
 '10672  &  BerlinerBlau  &  2651  &  216  &  261  &  271  &  1000  &  1009  &  110  &  2.16  &  1.01\\',
 '10672  &  TurnbullBlue  &  2094  &  211  &  154  &  270  &  940  &  648  &  82  &  2.11  &  0.94\\',
 '10835  &  BerlinerBlau  &  18430  &  134  &  596  &  11031  &  6644  &  146  &  13  &  1.35  &  0.56\\',
 '10835  &  TurnbullBlue  &  20300  &  166  &  437  &  7067  &  11747  &  1027  &  22  &  1.66  &  0.61\\',
 '10854  &  BerlinerBlau  &  34604  &  80  &  11791  &  18104  &  4551  &  153  &  5  &  0.80  &  0.67\\',
 '10854  &  TurnbullBlue  &  32401  &  82  &  11289  &  16164  &  4445  &  483  &  20  &  0.82  &  0.72\\',
 '11323  &  BerlinerBlau  &  8271  &  230  &  382  &  1236  &  3056  &  2651  &  946  &  2.31  &  1.01\\',
 '11480  &  TurnbullBlue  &  15191  &  111  &  4716  &  5179  &  4127  &  1152  &  17  &  1.12  &  0.94\\',
 '11480  &  BerlinerBlau  &  15183  &  95  &  5035  &  6100  &  3773  &  273  &  2  &  0.95  &  0.81\\',
 '11610  &  TurnbullBlue  &  26263  &  149  &  1151  &  12542  &  10963  &  1595  &  12  &  1.50  &  0.68\\',
 '11610  &  BerlinerBlau  &  36494  &  144  &  1973  &  18440  &  14028  &  2018  &  35  &  1.44  &  0.69\\',
 '2707  &  TurnbullBlue  &  17148  &  96  &  5063  &  8079  &  3591  &  411  &  4  &  0.96  &  0.78\\',
 '3106  &  TurnbullBlue  &  20092  &  233  &  101  &  2186  &  10018  &  6441  &  1346  &  2.34  &  0.78\\',
 '']

In [20]:
columns = list(equine.columns)[1:]
human.to_csv(header=False, index=False, float_format='%.2f', columns=columns).replace(",","  &  ").replace("_","\_").replace("\r\n","\\ |").split(" |")

['10052  &  BerlinerBlau  &  Inference  &  16088  &  177  &  1057  &  3792  &  8926  &  2284  &  29  &  1.78  &  0.77\\',
 '10052  &    &  Cluster  &  16083 (-0.03 %)  &  177 (+0.00 %)  &  1057  &  3791  &  8923  &  2283  &  29  &  1.78  &  0.77\\',
 '10052  &    &  Screening  &  6347 (-60.54 %)  &  180 (+1.69 %)  &  120  &  1736  &  3744  &  738  &  9  &  1.81  &  0.66\\',
 '10052  &    &  DensityMap  &  6347 (-60.54 %)  &  180 (+1.69 %)  &  120  &  1736  &  3744  &  738  &  9  &  1.81  &  0.66\\',
 '10080  &  BerlinerBlau  &  Inference  &  11216  &  131  &  1431  &  5386  &  3799  &  582  &  18  &  1.32  &  0.77\\',
 '10080  &    &  Cluster  &  11216 (+0.00 %)  &  131 (+0.00 %)  &  1431  &  5386  &  3799  &  582  &  18  &  1.32  &  0.77\\',
 '10080  &    &  Screening  &  6025 (-46.28 %)  &  146 (+11.45 %)  &  284  &  3015  &  2375  &  342  &  9  &  1.47  &  0.68\\',
 '10080  &    &  DensityMap  &  6025 (-46.28 %)  &  146 (+11.45 %)  &  284  &  3015  &  2375  &  342  &  9  &  1.47  &  0.68\\',
 '10080  &  TurnbullBlue  &  Inference  &  13833  &  135  &  1185  &  7135  &  4879  &  620  &  14  &  1.36  &  0.71\\',
 '10080  &    &  Cluster  &  13833 (+0.00 %)  &  135 (+0.00 %)  &  1185  &  7135  &  4879  &  620  &  14  &  1.36  &  0.71\\',
 '10080  &    &  Screening  &  13833 (+0.00 %)  &  135 (+0.00 %)  &  1185  &  7135  &  4879  &  620  &  14  &  1.36  &  0.71\\',
 '10080  &    &  DensityMap  &  13833 (+0.00 %)  &  135 (+0.00 %)  &  1185  &  7135  &  4879  &  620  &  14  &  1.36  &  0.71\\',
 '10120  &  BerlinerBlau  &  Inference  &  18852  &  192  &  538  &  4071  &  10709  &  3334  &  200  &  1.93  &  0.74\\',
 '10120  &    &  Cluster  &  18851 (-0.01 %)  &  192 (+0.00 %)  &  538  &  4071  &  10708  &  3334  &  200  &  1.93  &  0.74\\',
 '10120  &    &  Screening  &  8600 (-54.38 %)  &  191 (-0.52 %)  &  112  &  2225  &  4656  &  1502  &  105  &  1.91  &  0.73\\',
 '10120  &    &  DensityMap  &  8600 (-54.38 %)  &  191 (-0.52 %)  &  112  &  2225  &  4656  &  1502  &  105  &  1.91  &  0.73\\',
 '10120  &  TurnbullBlue  &  Inference  &  17143  &  192  &  387  &  3602  &  10171  &  2947  &  36  &  1.92  &  0.69\\',
 '10120  &    &  Cluster  &  17143 (+0.00 %)  &  192 (+0.00 %)  &  387  &  3602  &  10171  &  2947  &  36  &  1.92  &  0.69\\',
 '10120  &    &  Screening  &  17143 (+0.00 %)  &  192 (+0.00 %)  &  387  &  3602  &  10171  &  2947  &  36  &  1.92  &  0.69\\',
 '10120  &    &  DensityMap  &  17143 (+0.00 %)  &  192 (+0.00 %)  &  387  &  3602  &  10171  &  2947  &  36  &  1.92  &  0.69\\',
 '10227  &  BerlinerBlau  &  Inference  &  24817  &  65  &  9663  &  13975  &  1161  &  16  &  2  &  0.66  &  0.57\\',
 '10227  &    &  Cluster  &  24817 (+0.00 %)  &  65 (+0.00 %)  &  9663  &  13975  &  1161  &  16  &  2  &  0.66  &  0.57\\',
 '10227  &    &  Screening  &  24817 (+0.00 %)  &  65 (+0.00 %)  &  9663  &  13975  &  1161  &  16  &  2  &  0.66  &  0.57\\',
 '10227  &    &  DensityMap  &  24817 (+0.00 %)  &  65 (+0.00 %)  &  9663  &  13975  &  1161  &  16  &  2  &  0.66  &  0.57\\',
 '10277  &  TurnbullBlue  &  Inference  &  25240  &  70  &  9500  &  13797  &  1910  &  32  &  1  &  0.70  &  0.61\\',
 '10277  &    &  Cluster  &  25240 (+0.00 %)  &  70 (+0.00 %)  &  9500  &  13797  &  1910  &  32  &  1  &  0.70  &  0.61\\',
 '10277  &    &  Screening  &  25240 (+0.00 %)  &  70 (+0.00 %)  &  9500  &  13797  &  1910  &  32  &  1  &  0.70  &  0.61\\',
 '10277  &    &  DensityMap  &  25240 (+0.00 %)  &  70 (+0.00 %)  &  9500  &  13797  &  1910  &  32  &  1  &  0.70  &  0.61\\',
 '10672  &  BerlinerBlau  &  Inference  &  2661  &  217  &  261  &  271  &  1000  &  1009  &  120  &  2.17  &  1.01\\',
 '10672  &    &  Cluster  &  2661 (+0.00 %)  &  217 (+0.00 %)  &  261  &  271  &  1000  &  1009  &  120  &  2.17  &  1.01\\',
 '10672  &    &  Screening  &  2651 (-0.38 %)  &  216 (-0.46 %)  &  261  &  271  &  1000  &  1009  &  110  &  2.16  &  1.01\\',
 '10672  &    &  DensityMap  &  2651 (-0.38 %)  &  216 (-0.46 %)  &  261  &  271  &  1000  &  1009  &  110  &  2.16  &  1.01\\',
 '10672  &  TurnbullBlue  &  Inference  &  2094  &  211  &  154  &  270  &  940  &  648  &  82  &  2.11  &  0.94\\',
 '10672  &    &  Cluster  &  2094 (+0.00 %)  &  211 (+0.00 %)  &  154  &  270  &  940  &  648  &  82  &  2.11  &  0.94\\',
 '10672  &    &  Screening  &  2094 (+0.00 %)  &  211 (+0.00 %)  &  154  &  270  &  940  &  648  &  82  &  2.11  &  0.94\\',
 '10672  &    &  DensityMap  &  2094 (+0.00 %)  &  211 (+0.00 %)  &  154  &  270  &  940  &  648  &  82  &  2.11  &  0.94\\',
 '10835  &  BerlinerBlau  &  Inference  &  18430  &  134  &  596  &  11031  &  6644  &  146  &  13  &  1.35  &  0.56\\',
 '10835  &    &  Cluster  &  18430 (+0.00 %)  &  134 (+0.00 %)  &  596  &  11031  &  6644  &  146  &  13  &  1.35  &  0.56\\',
 '10835  &    &  Screening  &  18430 (+0.00 %)  &  134 (+0.00 %)  &  596  &  11031  &  6644  &  146  &  13  &  1.35  &  0.56\\',
 '10835  &    &  DensityMap  &  18430 (+0.00 %)  &  134 (+0.00 %)  &  596  &  11031  &  6644  &  146  &  13  &  1.35  &  0.56\\',
 '10835  &  TurnbullBlue  &  Inference  &  20300  &  166  &  437  &  7067  &  11747  &  1027  &  22  &  1.66  &  0.61\\',
 '10835  &    &  Cluster  &  20300 (+0.00 %)  &  166 (+0.00 %)  &  437  &  7067  &  11747  &  1027  &  22  &  1.66  &  0.61\\',
 '10835  &    &  Screening  &  20300 (+0.00 %)  &  166 (+0.00 %)  &  437  &  7067  &  11747  &  1027  &  22  &  1.66  &  0.61\\',
 '10835  &    &  DensityMap  &  20300 (+0.00 %)  &  166 (+0.00 %)  &  437  &  7067  &  11747  &  1027  &  22  &  1.66  &  0.61\\',
 '10854  &  BerlinerBlau  &  Inference  &  34604  &  80  &  11791  &  18104  &  4551  &  153  &  5  &  0.80  &  0.67\\',
 '10854  &    &  Cluster  &  34604 (+0.00 %)  &  80 (+0.00 %)  &  11791  &  18104  &  4551  &  153  &  5  &  0.80  &  0.67\\',
 '10854  &    &  Screening  &  34604 (+0.00 %)  &  80 (+0.00 %)  &  11791  &  18104  &  4551  &  153  &  5  &  0.80  &  0.67\\',
 '10854  &    &  DensityMap  &  34604 (+0.00 %)  &  80 (+0.00 %)  &  11791  &  18104  &  4551  &  153  &  5  &  0.80  &  0.67\\',
 '10854  &  TurnbullBlue  &  Inference  &  32401  &  82  &  11289  &  16164  &  4445  &  483  &  20  &  0.82  &  0.72\\',
 '10854  &    &  Cluster  &  32401 (+0.00 %)  &  82 (+0.00 %)  &  11289  &  16164  &  4445  &  483  &  20  &  0.82  &  0.72\\',
 '10854  &    &  Screening  &  32401 (+0.00 %)  &  82 (+0.00 %)  &  11289  &  16164  &  4445  &  483  &  20  &  0.82  &  0.72\\',
 '10854  &    &  DensityMap  &  32401 (+0.00 %)  &  82 (+0.00 %)  &  11289  &  16164  &  4445  &  483  &  20  &  0.82  &  0.72\\',
 '11323  &  BerlinerBlau  &  Inference  &  8271  &  230  &  382  &  1236  &  3056  &  2651  &  946  &  2.31  &  1.01\\',
 '11323  &    &  Cluster  &  8271 (+0.00 %)  &  230 (+0.00 %)  &  382  &  1236  &  3056  &  2651  &  946  &  2.31  &  1.01\\',
 '11323  &    &  Screening  &  8271 (+0.00 %)  &  230 (+0.00 %)  &  382  &  1236  &  3056  &  2651  &  946  &  2.31  &  1.01\\',
 '11323  &    &  DensityMap  &  8271 (+0.00 %)  &  230 (+0.00 %)  &  382  &  1236  &  3056  &  2651  &  946  &  2.31  &  1.01\\',
 '11480  &  BerlinerBlau  &  Inference  &  15185  &  95  &  5037  &  6100  &  3773  &  273  &  2  &  0.95  &  0.81\\',
 '11480  &    &  Cluster  &  15185 (+0.00 %)  &  95 (+0.00 %)  &  5037  &  6100  &  3773  &  273  &  2  &  0.95  &  0.81\\',
 '11480  &    &  Screening  &  15183 (-0.01 %)  &  95 (+0.00 %)  &  5035  &  6100  &  3773  &  273  &  2  &  0.95  &  0.81\\',
 '11480  &    &  DensityMap  &  15183 (-0.01 %)  &  95 (+0.00 %)  &  5035  &  6100  &  3773  &  273  &  2  &  0.95  &  0.81\\',
 '11480  &  TurnbullBlue  &  Inference  &  15191  &  111  &  4716  &  5179  &  4127  &  1152  &  17  &  1.12  &  0.94\\',
 '11480  &    &  Cluster  &  15191 (+0.00 %)  &  111 (+0.00 %)  &  4716  &  5179  &  4127  &  1152  &  17  &  1.12  &  0.94\\',
 '11480  &    &  Screening  &  15191 (+0.00 %)  &  111 (+0.00 %)  &  4716  &  5179  &  4127  &  1152  &  17  &  1.12  &  0.94\\',
 '11480  &    &  DensityMap  &  15191 (+0.00 %)  &  111 (+0.00 %)  &  4716  &  5179  &  4127  &  1152  &  17  &  1.12  &  0.94\\',
 '11610  &  BerlinerBlau  &  Inference  &  36494  &  144  &  1973  &  18440  &  14028  &  2018  &  35  &  1.44  &  0.69\\',
 '11610  &    &  Cluster  &  36494 (+0.00 %)  &  144 (+0.00 %)  &  1973  &  18440  &  14028  &  2018  &  35  &  1.44  &  0.69\\',
 '11610  &    &  Screening  &  36494 (+0.00 %)  &  144 (+0.00 %)  &  1973  &  18440  &  14028  &  2018  &  35  &  1.44  &  0.69\\',
 '11610  &    &  DensityMap  &  36494 (+0.00 %)  &  144 (+0.00 %)  &  1973  &  18440  &  14028  &  2018  &  35  &  1.44  &  0.69\\',
 '11610  &  TurnbullBlue  &  Inference  &  26263  &  149  &  1151  &  12542  &  10963  &  1595  &  12  &  1.50  &  0.68\\',
 '11610  &    &  Cluster  &  26263 (+0.00 %)  &  149 (+0.00 %)  &  1151  &  12542  &  10963  &  1595  &  12  &  1.50  &  0.68\\',
 '11610  &    &  Screening  &  26263 (+0.00 %)  &  149 (+0.00 %)  &  1151  &  12542  &  10963  &  1595  &  12  &  1.50  &  0.68\\',
 '11610  &    &  DensityMap  &  26263 (+0.00 %)  &  149 (+0.00 %)  &  1151  &  12542  &  10963  &  1595  &  12  &  1.50  &  0.68\\',
 '2707  &  TurnbullBlue  &  Inference  &  17148  &  96  &  5063  &  8079  &  3591  &  411  &  4  &  0.96  &  0.78\\',
 '2707  &    &  Cluster  &  17148 (+0.00 %)  &  96 (+0.00 %)  &  5063  &  8079  &  3591  &  411  &  4  &  0.96  &  0.78\\',
 '2707  &    &  Screening  &  17148 (+0.00 %)  &  96 (+0.00 %)  &  5063  &  8079  &  3591  &  411  &  4  &  0.96  &  0.78\\',
 '2707  &    &  DensityMap  &  17148 (+0.00 %)  &  96 (+0.00 %)  &  5063  &  8079  &  3591  &  411  &  4  &  0.96  &  0.78\\',
 '3106  &  TurnbullBlue  &  Inference  &  20092  &  233  &  101  &  2186  &  10018  &  6441  &  1346  &  2.34  &  0.78\\',
 '3106  &    &  Cluster  &  20092 (+0.00 %)  &  233 (+0.00 %)  &  101  &  2186  &  10018  &  6441  &  1346  &  2.34  &  0.78\\',
 '3106  &    &  Screening  &  20092 (+0.00 %)  &  233 (+0.00 %)  &  101  &  2186  &  10018  &  6441  &  1346  &  2.34  &  0.78\\',
 '3106  &    &  DensityMap  &  20092 (+0.00 %)  &  233 (+0.00 %)  &  101  &  2186  &  10018  &  6441  &  1346  &  2.34  &  0.78\\',
 '']

### summary

In [26]:
temp_human, temp_cat, temp_equine = human, cat, equine
temp_human["species"] = "human"
temp_cat["species"] = "felis catus"
temp_equine["species"] = "equine"

totalDf = pd.concat([temp_human, temp_cat, temp_equine])
totalDf.head()

,id,file,image_type,version,total,score,0,1,2,3,4,mean,SD,species,temp_equine
8,8,10052,BerlinerBlau,Inference,16088,177,1057,3792,8926,2284,29,1.778468,0.773724,human,NaN
9,9,10052,,Cluster,16083 (-0.03 %),177 (+0.00 %),1057,3791,8923,2283,29,1.778400,0.773754,human,NaN
10,10,10052,,Screening,6347 (-60.54 %),180 (+1.69 %),120,1736,3744,738,9,1.807783,0.658946,human,NaN
11,11,10052,,DensityMap,6347 (-60.54 %),180 (+1.69 %),120,1736,3744,738,9,1.807783,0.658946,human,NaN
12,12,10080,BerlinerBlau,Inference,11216,131,1431,5386,3799,582,18,1.319722,0.765593,human,NaN

In [53]:
srep.head()

,file,image_type,version,total,score,0,1,2,3,4,mean,SD
28,01,BerlinerBlau,SREP,4448,126,1013,1782,1220,348,85,1.260342,0.958848
29,01,,V2,3724 (-16.28 %),134 (+6.35 %),716,1481,1112,339,76,1.349624,0.957433
18,02,BerlinerBlau,SREP,12821,72,5084,6208,1453,65,11,0.729506,0.681716
19,02,,V2,8954 (-30.16 %),81 (+12.50 %),3101,4527,1257,58,11,0.810699,0.698496
30,03,BerlinerBlau,SREP,6327,37,4295,1699,330,3,0,0.374269,0.584299

In [58]:
data = []
total_slides = []

id = 0
for species in totalDf["species"].unique():
    
    speciesDf = totalDf[totalDf["species"] == species]
    total_slides.append(len(speciesDf))
    
    last_total = 0
    last_score = 0
    for version in ["Inference", "Cluster", "Screening", "DensityMap"]:
    
        versionDf = speciesDf[speciesDf["version"] == version]
        
        num_slides = len(versionDf)
        total = sum(versionDf[["0", "1", "2", "3", "4"]].sum())
        _0, _1, _2, _3, _4 = versionDf[["0", "1", "2", "3", "4"]].sum()
        
        cell_array = np.hstack([np.ones(shape=(_0)) * 0, np.ones(shape=(_1)) * 1, np.ones(shape=(_2)) * 2, np.ones(shape=(_3)) * 3, np.ones(shape=(_4)) * 4])
        score = float(cell_array.mean() * 100)
        mean = cell_array.mean()
        SD = cell_array.std()
        
        if version != "Inference":
            total = "{} ({:+.2f} %)".format(total, (total / last_total * 100) - 100)
            score = "{} ({:+.2f} %)".format(score, (score / last_score * 100) - 100)
        
        last_total = sum(versionDf[["0", "1", "2", "3", "4"]].sum())
        last_score = float(cell_array.mean() * 100)
        
        
        data.append([species, "SDATA" , num_slides, version, total, score, _0, _1, _2, _3, _4, mean, SD])
        
        id += 1
        
        
last_total = 0
last_score = 0
total_slides.append(len(srep))
for version in ["SREP", "V2"]:
    
    versionDf = srep[srep["version"] == version] 
        
    num_slides = len(versionDf)
    total = sum(versionDf[["0", "1", "2", "3", "4"]].sum())
    _0, _1, _2, _3, _4 = versionDf[["0", "1", "2", "3", "4"]].sum()
        
    cell_array = np.hstack([np.ones(shape=(_0)) * 0, np.ones(shape=(_1)) * 1, np.ones(shape=(_2)) * 2, np.ones(shape=(_3)) * 3, np.ones(shape=(_4)) * 4])
    score = float(cell_array.mean() * 100)
    mean = cell_array.mean()
    SD = cell_array.std()

    if version != "SREP":
        version = "Screening"
        total = "{} ({:+.2f} %)".format(total, (total / last_total * 100) - 100)
        score = "{} ({:+.2f} %)".format(score, (score / last_score * 100) - 100)
        
    last_total = sum(versionDf[["0", "1", "2", "3", "4"]].sum())
    last_score = float(cell_array.mean() * 100)
        
        
    data.append([species, "SREP", num_slides, version, total, score, _0, _1, _2, _3, _4, mean, SD])
        
    id += 1

        
speciesStatDf = pd.DataFrame(data, columns=["species", "dataset" ,"slides", "version", "total", "score", "0", "1", "2", "3", "4", "mean", "SD"])
speciesStatDf

,species,dataset,slides,version,total,score,0,1,2,3,4,mean,SD
0,human,SDATA,20,Inference,376323,131.394,66712,158427,120438,27822,2924,1.313938,0.874305
1,human,SDATA,20,Cluster,376317 (-0.00 %),131.39268223332988 (-0.00 %),66712,158426,120434,27821,2924,1.313927,0.874305
2,human,SDATA,20,Screening,351127 (-6.69 %),128.58139647477978 (-2.14 %),64200,152154,107779,24204,2790,1.285814,0.869105
3,human,SDATA,20,DensityMap,351127 (+0.00 %),128.58139647477978 (+0.00 %),64200,152154,107779,24204,2790,1.285814,0.869105
4,felis catus,SDATA,14,Inference,309039,57.8044,135199,170460,2464,414,502,0.578044,0.536084
5,felis catus,SDATA,14,Cluster,297445 (-3.75 %),57.72092319588496 (-0.14 %),129034,165619,2350,399,43,0.577209,0.519253
6,felis catus,SDATA,14,Screening,297238 (-0.07 %),57.73622484339149 (+0.03 %),128895,165554,2349,398,42,0.577362,0.519182
7,felis catus,SDATA,14,DensityMap,297238 (+0.00 %),57.73622484339149 (+0.00 %),128895,165554,2349,398,42,0.577362,0.519182
8,equine,SDATA,40,Inference,255074,100.464,98519,82062,51123,21531,1839,1.004638,0.994570
9,equine,SDATA,40,Cluster,250167 (-1.92 %),100.94616795980285 (+0.48 %),95993,80564,50663,21144,1803,1.009462,0.994528
10,equine,SDATA,40,Screening,171948 (-31.27 %),110.59913462209505 (+9.56 %),54574,60906,41142,14321,1005,1.105991,0.964973
11,equine,SDATA,40,DensityMap,171948 (+0.00 %),110.59913462209505 (+0.00 %),54574,60906,41142,14321,1005,1.105991,0.964973
12,equine,SREP,17,SREP,78081,103.886,29065,26937,13532,7074,1473,1.038857,1.037409
13,equine,SREP,17,Screening,60316 (-22.75 %),112.8539690960939 (+8.63 %),19752,21633,11628,6032,1271,1.128540,1.045665

In [59]:
data = []

    
last_total = 0
last_score = 0
for version in ["Inference", "Cluster", "Screening", "DensityMap"]:
    
    versionDf = speciesStatDf[speciesStatDf["version"] == version]
    total = sum(versionDf[["0", "1", "2", "3", "4"]].sum())
    _0, _1, _2, _3, _4 = versionDf[["0", "1", "2", "3", "4"]].sum()
        
    cell_array = np.hstack([np.ones(shape=(_0)) * 0, np.ones(shape=(_1)) * 1, np.ones(shape=(_2)) * 2, np.ones(shape=(_3)) * 3, np.ones(shape=(_4)) * 4])
    score = float(cell_array.mean() * 100)
    mean = cell_array.mean()
    SD = cell_array.std()
    
    if version != "Inference":
        total = "{} ({:+.2f} %)".format(total, (total / last_total * 100) - 100)
        score = "{} ({:+.2f} %)".format(score, (score / last_score * 100) - 100)
        
    last_total = sum(versionDf[["0", "1", "2", "3", "4"]].sum())
    last_score = float(cell_array.mean() * 100)
        
        
    data.append(["Total", "SDATA" , len(total_slides), version, total, score, _0, _1, _2, _3, _4, mean, SD])
    
tempDf = pd.DataFrame(data, columns=["species", "dataset" ,"slides", "version", "total", "score", "0", "1", "2", "3", "4", "mean", "SD"])

tempDf = pd.concat([speciesStatDf, tempDf])
tempDf.head()

,species,dataset,slides,version,total,score,0,1,2,3,4,mean,SD
0,human,SDATA,20,Inference,376323,131.394,66712,158427,120438,27822,2924,1.313938,0.874305
1,human,SDATA,20,Cluster,376317 (-0.00 %),131.39268223332988 (-0.00 %),66712,158426,120434,27821,2924,1.313927,0.874305
2,human,SDATA,20,Screening,351127 (-6.69 %),128.58139647477978 (-2.14 %),64200,152154,107779,24204,2790,1.285814,0.869105
3,human,SDATA,20,DensityMap,351127 (+0.00 %),128.58139647477978 (+0.00 %),64200,152154,107779,24204,2790,1.285814,0.869105
4,felis catus,SDATA,14,Inference,309039,57.8044,135199,170460,2464,414,502,0.578044,0.536084

In [60]:
columns = list(equine.columns)[1:]
tempDf.to_csv(header=False, index=False, float_format='%.2f').replace(",","  &  ").replace("_","\_").replace("\r\n","\\ |").split(" |")

['human  &  SDATA  &  20  &  Inference  &  376323  &  131.39377609128329  &  66712  &  158427  &  120438  &  27822  &  2924  &  1.31  &  0.87\\',
 'human  &  SDATA  &  20  &  Cluster  &  376317 (-0.00 %)  &  131.39268223332988 (-0.00 %)  &  66712  &  158426  &  120434  &  27821  &  2924  &  1.31  &  0.87\\',
 'human  &  SDATA  &  20  &  Screening  &  351127 (-6.69 %)  &  128.58139647477978 (-2.14 %)  &  64200  &  152154  &  107779  &  24204  &  2790  &  1.29  &  0.87\\',
 'human  &  SDATA  &  20  &  DensityMap  &  351127 (+0.00 %)  &  128.58139647477978 (+0.00 %)  &  64200  &  152154  &  107779  &  24204  &  2790  &  1.29  &  0.87\\',
 'felis catus  &  SDATA  &  14  &  Inference  &  309039  &  57.80435479017212  &  135199  &  170460  &  2464  &  414  &  502  &  0.58  &  0.54\\',
 'felis catus  &  SDATA  &  14  &  Cluster  &  297445 (-3.75 %)  &  57.72092319588496 (-0.14 %)  &  129034  &  165619  &  2350  &  399  &  43  &  0.58  &  0.52\\',
 'felis catus  &  SDATA  &  14  &  Screening  &  297238 (-0.07 %)  &  57.73622484339149 (+0.03 %)  &  128895  &  165554  &  2349  &  398  &  42  &  0.58  &  0.52\\',
 'felis catus  &  SDATA  &  14  &  DensityMap  &  297238 (+0.00 %)  &  57.73622484339149 (+0.00 %)  &  128895  &  165554  &  2349  &  398  &  42  &  0.58  &  0.52\\',
 'equine  &  SDATA  &  40  &  Inference  &  255074  &  100.46378697946479  &  98519  &  82062  &  51123  &  21531  &  1839  &  1.00  &  0.99\\',
 'equine  &  SDATA  &  40  &  Cluster  &  250167 (-1.92 %)  &  100.94616795980285 (+0.48 %)  &  95993  &  80564  &  50663  &  21144  &  1803  &  1.01  &  0.99\\',
 'equine  &  SDATA  &  40  &  Screening  &  171948 (-31.27 %)  &  110.59913462209505 (+9.56 %)  &  54574  &  60906  &  41142  &  14321  &  1005  &  1.11  &  0.96\\',
 'equine  &  SDATA  &  40  &  DensityMap  &  171948 (+0.00 %)  &  110.59913462209505 (+0.00 %)  &  54574  &  60906  &  41142  &  14321  &  1005  &  1.11  &  0.96\\',
 'equine  &  SREP  &  17  &  SREP  &  78081  &  103.88570843098832  &  29065  &  26937  &  13532  &  7074  &  1473  &  1.04  &  1.04\\',
 'equine  &  SREP  &  17  &  Screening  &  60316 (-22.75 %)  &  112.8539690960939 (+8.63 %)  &  19752  &  21633  &  11628  &  6032  &  1271  &  1.13  &  1.05\\',
 'Total  &  SDATA  &  4  &  Inference  &  940436  &  98.8222484039318  &  300430  &  410949  &  174025  &  49767  &  5265  &  0.99  &  0.88\\',
 'Total  &  SDATA  &  4  &  Cluster  &  923929 (-1.76 %)  &  99.43134158577121 (+0.62 %)  &  291739  &  404609  &  173447  &  49364  &  4770  &  0.99  &  0.87\\',
 'Total  &  SDATA  &  4  &  Screening  &  880629 (-4.69 %)  &  100.08073774540698 (+0.65 %)  &  267421  &  400247  &  162898  &  44955  &  5108  &  1.00  &  0.86\\',
 'Total  &  SDATA  &  4  &  DensityMap  &  820313 (-6.85 %)  &  99.14154718991409 (-0.94 %)  &  247669  &  378614  &  151270  &  38923  &  3837  &  0.99  &  0.85\\',
 '']